<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="title-header" *ngIf="user.id != idBusiness">{{"new_appointment" | translate}}</p>
    <p class="title-header" *ngIf="user.id == idBusiness">{{"inhabilitate_hour" | translate}}</p>

    <div [ngClass]="{'displayBtn': (hourSelected != '' && type != '') , 'notDisplay': (hourSelected == '' || type == '') }">
      <ion-button color="dark" class="button-save" type="submit" [disabled]="false" (click) = "presentAlertTypeAppointments()">
        <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngIf="hoursDoctor && dateSelected">
    <ion-label class="labels">{{"date" | translate}}</ion-label>
    <ion-datetime [ngClass]="{'date-select': checkDate(), 'selector-datetime': !(checkDate())}" 
    displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" min={{minDate}} (ionChange)="changeDayOrEmployee()" 
    placeholder="{{'select_date' | translate}}" [(ngModel)] = "dateSelected"
    cancelText="{{'cancel' | translate}}" doneText="{{'save' | translate}}">
    </ion-datetime>
  </ion-item>

  <ion-item *ngIf="hoursDoctor && services.length > 0 && user.id != idBusiness">
    <ion-label class="labels">{{"service" | translate}}</ion-label>
    <ion-select class="selectors" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" [(ngModel)]='serviceID' (ionChange)="changeDayOrEmployee('changeService')">
      <ion-select-option *ngFor="let service of services" value="{{service.id}}">{{service.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="hoursDoctor && employeesService.length > 0" >
    <ion-label class="labels">{{"employee" | translate}}</ion-label>
    <ion-select class="selectors" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" [(ngModel)]='employeeID' (ionChange)="changeDayOrEmployee()"> 
      <ion-select-option *ngFor="let employee of employeesService" value="{{employee.id}}">{{employee.fullname}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="hoursDoctor">
    <div class="text" *ngIf="hoursDoctor.length!=0; else noHours">
      <label>{{"select_hours" | translate}}</label>
      <div class="container-hours">
        <div class="hours" *ngFor="let hour of hoursDoctor; trackBy: trackByFn">
          <button id="{{hour.text}}" class="btn-hour" (click)="setTypePicker($event)">{{hour.text}}</button>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noHours>
    <div class="content-empty">
      <p class="text-empty">{{"nothing_hour" | translate}}</p>
      <div class="icon-empty">
        <ion-icon class="icon" name="close-circle-outline"></ion-icon>
      </div>
    </div>
  </ng-template>
  
</ion-content>

