.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 3px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    left: 3px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.labels{
    font-family: 'Oxygen-Bold';
}

.date-select{
    color: #3880ff;
    font-family: 'Oxygen-Bold'
}

.displayBtn{
    display: block;
}

.notDisplay{
    display: none;
}

.selector-datetime{
    color: #000000;
    opacity: 0.4;
    font-family: 'Oxygen-Bold'
}

.container-hours{
    
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .btn-hour{
        outline: none;
        font-size: 100%;
        border: 2px solid black;
        border-radius: 5%;
        padding: 10px 15px;
        text-align: center;
        width: 90px;
        margin: 3px;
        background-color: white;
        &.notWork{
            border: 2px solid black;
        }
    }

    .btn-hour-blue{
        border: 2px solid black;
        background:#F1948A;
        padding: 5px 10px;
        text-align: center;
        width: 90px;
        margin: 1px;
        &.notWork{
            border: 2px solid black;
        }
    }
    
  }



.content-empty{
    border-radius: 10px;
    background-color: #3880ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 10px;
    margin-top: 20px;
    .text-empty{
        text-align: center;
        font-family: 'Oxygen-Bold';
    }

    .icon-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 100px;
            height: 100px;
        }
    }
}



.displayBtn{
    display: block;
}

.notDisplay{
    display: none;
}

.md .button-save{
    text-transform: initial !important;
    font-family: 'Oxygen-Bold';
    font-size: 16px;
    position: absolute;
    top: 10%;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 25px;
        height: 25px;
    }

}

.ios .button-save{
    position: absolute;
    top: 0;
    margin-top: 8px;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 40px;
        height: 40px;
    }

}

.text{
    text-align: center;
    margin-top: 20px;
    font-family: 'Oxygen-Bold';
}

.item-select-customizado {
    position: relative;
    max-width: 100%;
    white-space: pre-line;
    text-align: left;
}

.selectors{
    margin-left: 10px; 
    margin-top: 5px; 
    font-weight: bold; 
    opacity: 0.6;

    
}

.buttons{
    display: flex;
    justify-content: center;
    align-content: center;
}