<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="title-header">{{"service" | translate}}</p>
    
    <div class="displayBtn" class="button-save">
      <ion-button class="btn" *ngIf="employees" color="dark" type="submit" (click)="onCloseModal()" [disabled] = "!(!serviceForm.invalid && validations())">
        <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="container">
  <form [formGroup]="serviceForm">

    <ion-label class="label">{{"nameService" | translate}}</ion-label>
    <ion-input class="input" placeholder='{{"nameService" | translate}}' formControlName="name" spellcheck="false"></ion-input>
    <div class="error-msg-register" *ngIf="serviceForm.controls['name'].errors && !serviceForm.controls['name'].pristine">
      <div [hidden]="!serviceForm.controls['name'].errors.required">{{"nameService_required" | translate}}</div>
      <div [hidden]="!serviceForm.controls['name'].errors.minlength && !serviceForm.controls['name'].errors.pattern">{{"nameService_pattern_and_minLength" | translate}}</div>
    </div>

    <div class="content-items">
      <div class="item1">
        <ion-label class="label container">{{"price_single" | translate}}</ion-label>
        <ion-input class="input" placeholder='{{"price_single_placeholder" | translate}}' formControlName="price_single" spellcheck="false"></ion-input>
      </div>
      <div>
        <ion-label class="label container">{{"price_group" | translate}}</ion-label>
        <ion-input class="input" placeholder='{{"price_group_placeholder" | translate}}' formControlName="price_group" spellcheck="false"></ion-input>
      </div>
    </div>

    <div class="content-items">
      <div class="error-msg-register items" *ngIf="serviceForm.controls['price_single'].errors && !serviceForm.controls['price_single'].pristine">
        <div [hidden]="!serviceForm.controls['price_single'].errors.required">{{"price_single_required" | translate}}</div>
        <div [hidden]="!serviceForm.controls['price_single'].errors.pattern">{{"price_single_pattern" | translate}}</div>
      </div>
      <div class="error-msg-register items" *ngIf="serviceForm.controls['price_group'].errors && !serviceForm.controls['price_group'].pristine">
        <div [hidden]="!serviceForm.controls['price_group'].errors.required">{{"price_group_required" | translate}}</div>
        <div [hidden]="!serviceForm.controls['price_group'].errors.pattern">{{"price_group_pattern" | translate}}</div>
      </div>
    </div>

  </form>
  
  <div *ngIf="business">
    <ion-label class="label">{{"employees" | translate}}</ion-label>
    <ion-select class="input select-employee" multiple="true" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" [(ngModel)]='employeesMultiple' placeholder='{{"employees" | translate}}'>
      <ion-select-option value="any">{{"anything" | translate}}</ion-select-option>
      <ion-select-option *ngFor="let employee of employees; trackBy: trackByFn" value="{{employee.id}}">{{employee.fullname}}</ion-select-option>
    </ion-select>
  </div>
  

</ion-content>



