
.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    margin-top: 6px;
    top:0;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.container{
    --padding-start: 25px !important;
    --padding-end: 25px !important;
    --padding-top: 0px !important;
    --padding-bottom: 30px !important;
}


.label{
    font-weight: bold;
    margin-top: 30px;
    display: block;
    align-items: none !important;
}

.displayBtn{
    display: block;
}

.input {
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-top: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 10px !important;

    --background: #eee;
    border-radius: 10px;
    border: 2px #eee solid;
    &.service{
        margin-bottom: 10px;
    }

    &.select-employee{
        background-color: #eee;
    }
}


.content-items{
    display: flex;
    justify-content: center;
    align-items: center;
    .item1{
        margin-right: 10px;
    }
}

.error-msg-register{
    color: red;
    margin-top: 3px;
    font-family: 'Oxygen-Bold';
    font-size: 14px;
    &.items{
        margin-right: 15px;
    }
}


.md .button-save{

    position: absolute;
    top: 10%;
    right: 0;
    .btn{
        --box-shadow: 0px !important;
        --background: white !important;
        --background-focused: white !important;
        --background-hover: white !important;
        --color: black !important;
        --color-activated: black !important;
        --color-focused: black !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --padding-bottom: 0px !important;
        --padding-top: 0px !important;
        --background-activated: #eee !important;
        margin-bottom: 0px;

        .checkmark{
            width: 25px;
            height: 25px;
        }
    }
    

}

.ios .button-save{
    position: absolute;
    top: 0;
    margin-top: 4px;
    right: 0;
    .btn{
        --box-shadow: 0px !important;
        --background: white !important;
        --background-focused: white !important;
        --background-hover: white !important;
        --color: black !important;
        --color-activated: black !important;
        --color-focused: black !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --padding-bottom: 0px !important;
        --padding-top: 0px !important;
        --background-activated: #eee !important;
        margin-bottom: 0px;

        .checkmark{
            width: 40px;
            height: 40px;
        }
    }

}