<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="title-header">{{"employees" | translate}}</p>
    <ion-buttons class="header-buttonsEnd">
      <ion-button (click)="addOrEditEmployee()">
        <ion-icon name="person-add" class="btn-search"></ion-icon>
      </ion-button>
      <ion-button (click)="search()">
        <ion-icon name="search" class="btn-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item *ngIf="showInput" lines="none">
    <ion-input class="search-input" type="text" (ngModelChange)="filterData($event)" [ngModel]="filter" placeholder="{{'search_by_name' | translate}}"></ion-input>
  </ion-item>
</ion-header>
<ion-content *ngIf="employeesJSON">
  <ion-list *ngIf="(employeesJSON.length != 0); else vacio" class="ion-list" #employees>
      <ion-item *ngFor="let item of employeesJSON; trackBy: trackByFn" lines="full" (click) = "read(item)">
        <div class="avatar">
          <ion-avatar  class="avatar-img" slot="start">
            <ion-img src="{{item.imgProfile}}"></ion-img>
          </ion-avatar>
        </div>
        <ion-label>
          <p class="user-nick" >{{item.fullname}}</p>
        </ion-label>  
        <ion-icon name="arrow-forward" class="look-item"></ion-icon>
      </ion-item>
  </ion-list>

  <ng-template #vacio>
    <div class="content-empty">
        <p class="text-empty">{{"nothing_employee" | translate}}</p>
        <div class="icon-empty">
          <ion-icon class="icon" name="close-circle-outline"></ion-icon>
        </div>
    </div>
  </ng-template>
</ion-content>

