.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}


.content-btns{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
    
    .btns-crud{
        --padding-start: 5px !important;
        --padding-end: 5px !important;
        --box-shadow: 0px !important;
        --background: white !important;
        --background-focused: white !important;
        --background-hover: white !important;
    }
}


.header-buttonsEnd{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    height: 100%;
}

.btn-search{
    width: 25px;
    height: 25px;
}

.search-input{
    --placeholder-color: #000000;
    --color: black;
    --background: #EAEDED;
    border-radius: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.avatar{
    position: relative;
    margin: 10px;
    .avatar-img{
        margin: 5px;
        width: 60px;
        height: 60px;
    }
}

.ion-list{
    padding: 0px;
}

.content-empty{
    border-radius: 10px;
    background-color: #3880ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 10px;
    .text-empty{
        text-align: center;
        font-family: 'Oxygen-Bold';
    }

    .icon-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 100px;
            height: 100px;
        }
    }
}

.container-buttons{
    .btn{
        --background: white;
        --box-shadow: 0px !important;
        --background-focused: white !important;
        --background-hover: white !important;
        --color: black !important;
        --color-activated: black !important;
        --color-focused: black !important;
        --padding-start: 5px !important;
        --padding-end: 5px !important;
    }

    .btn-social{
        height: 20px;
        width: 20px;
    }
}

.icon{
    padding: 10px;
    width: 20px;
    height: 20px;
}



.look-item{
    position: absolute;
    right: 0;
    margin-right: 15px;
    width: 25px;
    height: 25px; 
}



.btn-color{
    --background: white !important;
}