<ion-header class="header">
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class ="img-back"></ion-icon>
    </ion-button>
    <p class="text-nav">{{"reset_password" | translate}}</p>
    
    <ion-button color="dark" [disabled]="forgetForm.invalid" class="button-save" type="submit" (click) = "resetPassword()">
      <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="forgetForm">
    <div class="container-img">
      <ion-icon name="paper-plane" class="icon"></ion-icon>
    </div>

    <ion-item class="item-inputs">
      <ion-icon name="person" color="dark"></ion-icon>
      <ion-input class="input" type="text" placeholder='{{"email" | translate}}' formControlName="email" spellcheck="false"></ion-input>
    </ion-item>

    <div *ngIf="forgetForm.controls['email'].errors && !forgetForm.controls['email'].pristine" class="error-message">
      <div [hidden]="!forgetForm.controls['email'].errors.required">{{"email_required" | translate}}</div>
      <div [hidden]="!forgetForm.controls['email'].errors.email && !forgetForm.controls['email'].errors.pattern">{{"email_invalid" | translate}}</div>
    </div>
  </form>
</ion-content>
