.header{
    background-color: snow;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-nav{
        text-align: center;
        font-family: 'Oxygen-Bold';
    }

}


.md .icon-nav{
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav{
    position: absolute;
    margin-top: 4px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}



.md .button-save{
    position: absolute;
    top: 10%;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 25px;
        height: 25px;
    }
}

.ios .button-save{
    position: absolute;
    top:0;
    margin-top: 7px;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 40px;
        height: 40px;
    }

    
}


.container-img{
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .icon{
        width: 120px;
        height: 120px;
    }
    
    
}


.label-input{
    margin-left: 26px;
    margin-top: 24px;

    label{
        display: block;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Oxygen-Bold';
    }

    input{
        border: 0px;
        width: 90%;
        margin-right: 37px;
        margin-top: 8px;
        font-size: 20px;
        outline: none;
    }

    ::placeholder{
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        opacity: 0.2;
    }
}

.item-inputs{
    margin: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.input{
    background: transparent;
    border-radius: 25px;
    margin-left: 10px;
    --placeholder-font-weight: bold;
    --placeholder-opacity: 0.2;
}

.error-message{
    font-family: 'Oxygen-Bold';
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: red;
}

.btn-fixed{
    position: fixed;
    bottom: 36px;
    width: 100%;
    margin-top: 30%;
    z-index: 1030;
    cursor: pointer;

    .ion-activatable{
        padding: 2.1px 12.2px;
        font-weight: bold;
        font-family: 'Oxygen-Bold';
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 53px;
        margin-right: 53px;
        padding: 13px 74px;
        border-radius: 5px;
        background: #000000;
    }

    .btn-submit{
        background: #000000;
        text-align: center;
        color: white;
        outline: none;
        font-size: 15px;
    }

    button[disabled]{
        color: white;
        opacity: 0.3;
    }
}
