
.text-nav{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}


.ios .icon-nav {
    position: absolute;
    margin-top: 5px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.md .button-save{
    
    position: absolute;
    top: 0;
    margin-top: 9px;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 25px;
        height: 25px;
    }    
}

.ios .button-save{
    
    position: absolute;
    top: 0;
    margin-top: 8px;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 40px;
        height: 40px;
    }

    
}

.content{
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 30px;
    .label-input{
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .information-select-hours{
        font-family: 'Oxygen-Bold';
        text-align: center;
    }
    
    label{
        font-size: 16px;
        font-family: 'Oxygen-Bold'; 
    }

    .schredule{
        padding-top: 10px;
        padding-bottom: 50px;
        text-align: center;
        
    }
}


.md .items{
    margin-bottom: 50px !important;
    position: relative; 
    padding-top: 40px;
    
    .text-label{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        margin-top: 10px;
        margin-left: 15px;

    }
    .hours-selected{
        

        .hours{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .btn-close{
            position: absolute; 
            top: 0;
            right: 0;
            margin-right: 60px;
            --padding-bottom: 0px;
            --padding-top: 0px;
            --padding-start: 8px;
            --padding-end: 8px;
            --border-radius: 100%;
            .icon-close{
                width: 17px;
                height: 17px; 
            }
        }

        .btn-add{
            position: absolute; 
            top: 0;
            right: 0;
            margin-right: 10px;
            --padding-bottom: 0px;
            --padding-top: 0px;
            --padding-start: 8px;
            --padding-end: 8px;
            --border-radius: 100%;
            
            .icon-add{
                width: 17px;
                height: 17px; 
            }
        }
        
        
        
        .select{
            background-color: #eee;
            margin-top: 10px;
            margin-bottom: 20px;
            --padding-top: 10px !important;
            --padding-end: 30px !important;
            --padding-bottom: 10px !important;
            --padding-start: 30px !important;
            border-radius: 10px;
            border: 2px #eee solid;
            &.type{
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        
    }


}


.ios .items{
    margin-bottom: 50px !important;
    position: relative; 
    padding-top: 60px;
    
    .text-label{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        margin-top: 10px;
        margin-left: 15px;

    }
    .hours-selected{
        

        .hours{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
        }
        
        .btn-close{
            position: absolute; 
            top: 0;
            right: 0;
            margin-right: 70px;
            --padding-bottom: 0px;
            --padding-top: 0px;
            --padding-start: 13px;
            --padding-end: 13px;
            --border-radius: 100%;
            .icon-close{
                width: 20px;
                height: 20px; 
            }
        }
        
        
        
        .btn-add{
            position: absolute; 
            top: 0;
            right: 0;
            margin-right: 10px;
            --padding-bottom: 0px;
            --padding-top: 0px;
            --padding-start: 13px;
            --padding-end: 13px;
            --border-radius: 100%;
            
            .icon-add{
                width: 20px;
                height: 20px; 
            }
        }
        
        
        
        .select{
            background-color: #eee;
            margin-top: 10px;
            margin-bottom: 20px;
            --padding-top: 10px !important;
            --padding-end: 30px !important;
            --padding-bottom: 10px !important;
            --padding-start: 30px !important;
            border-radius: 10px;
            border: 2px #eee solid;
            &.type{
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        
    }


}


.hr{
    border-bottom: 1px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.select{
    background-color: #eee;
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-top: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 10px !important;
    border-radius: 10px;
    border: 2px #eee solid;
}