<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="text-nav">{{"hourswork" | translate}}</p>
    <div class="displayBtn">
      <ion-button color="dark" class="button-save" type="submit" (click) = "onCloseModal()">
        <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main class="content">
    <div *ngIf="action == 'edit-profile'">
      <label>{{"duration" | translate}}</label>
      <ion-select class="select" [(ngModel)]="duration" placeholder='{{"duration" | translate}}' cancelText='{{"cancel" | translate}}' okText='{{"save" | translate}}'>
        <ion-select-option value="300000">5 {{"minutes" | translate}}</ion-select-option>
        <ion-select-option value="600000">10 {{"minutes" | translate}}</ion-select-option>
        <ion-select-option value="900000">15 {{"minutes" | translate}}</ion-select-option>
        <ion-select-option value="1800000">30 {{"minutes" | translate}}</ion-select-option>
        <ion-select-option value="2700000">45 {{"minutes" | translate}}</ion-select-option>
        <ion-select-option value="3600000">1 {{"hour" | translate}}</ion-select-option>
        <ion-select-option value="5400000">1 {{"hour_and_middle" | translate}}</ion-select-option>
        <ion-select-option value="7200000">2 {{"hours" | translate}}</ion-select-option>
      </ion-select>
    </div>

    <div class="information-select-hours">{{"time_zones_and_type_of_appointment" | translate}}</div>

    <div *ngIf="duration != ''" class="schredule">
      <div *ngFor="let day of days | keyvalue" class="items">

        <label class="text-label">{{day.value.name}}</label>
          
        <div *ngFor="let interval of day.value.intervals | keyvalue;" class="hours-selected">

          <div class="hours">
            <ion-select class="select" cancelText='{{"cancel" | translate}}' okText='{{"save" | translate}}' placeholder="08:00"
              (ionChange) = "selectHour(day.key, 'start', interval.key, $event)" [(ngModel)] = "interval.value.val_start">
              <ion-select-option *ngFor="let hour of interval.value.start; trackBy: trackByFn">{{hour}}</ion-select-option>
            </ion-select>
            
            <div>
              -
            </div>
            
            <ion-select class="select" cancelText='{{"cancel" | translate}}' okText='{{"save" | translate}}' placeholder="15:00" 
              (ionChange) = "selectHour(day.key, 'end', interval.key, $event)" [(ngModel)] = "interval.value.val_end">
              <ion-select-option *ngFor="let hour of interval.value.end; trackBy: trackByFn">{{hour}}</ion-select-option>
            </ion-select>
          </div>
              
             
          <div class="btns">
            <ion-button class="btn-add" fill="outline" *ngIf = "interval.key == 0"  color="dark" 
              (click)="addInterval(day.key, 'add', day.value.intervals.length-1)">
              <ion-icon name="add" class="icon-add"></ion-icon>
            </ion-button>

            <ion-button class="btn-close" fill="outline" *ngIf= "interval.key != 0 " color="danger" 
            (click)="deleteInterval(day.key, 'add', interval.key)">
              <ion-icon name="close" class="icon-close"></ion-icon>
            </ion-button>
          </div>
          
          <ion-select class="select type" okText='Guardar' cancelText='Cancelar' placeholder='{{"type_of_appointment" | translate}}'  [(ngModel)] = "interval.value.type">
            <ion-select-option *ngFor="let type of types; trackBy: trackByFn" value="{{type.code}}">{{type.text}}</ion-select-option>
          </ion-select>
          
          <div *ngIf="day.value.intervals.length > 1" class="hr"></div>

        </div>
      </div>
    </div>
  </main>
</ion-content>
