.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.bold{
    font-family: 'Oxygen-Bold';
    color: black
}

.list-md {
    
    padding-top: 0px !important;
    padding-bottom: 0px !important; 
    
}

ion-item{
    padding: 0px !important;
}
.ion-activatable{
    position: relative;
    overflow: hidden;
}
.item {
    
    &.bold{
        .title{
            &.bold{
                font-weight: bold;
            }
        }
        .subtitle{
            font-size: 95%;
            &.bold{
                font-weight: bold;
            }
        }
    }
    
    .subtitle{
        font-size: 95%;
    }
}

.look-item{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 25px;
    height: 25px;
}

.icon{
    padding: 10px;
    width: 25px;
    height: 25px;
}


.content{
    position: relative;
    display: inline-block;
    p{
        display: inline-block;
        margin-right: 5px;
    }

    .point{
        position: absolute;
        top: 0px;
        margin-top: 7px;
        display: inline-block;
        padding: 3px;
        border-radius: 100%;
        background-color: #f04141;
    }
}



.circle{
    margin-right: 15px;
    .size{
        width: 35px;
        height: 35px;
    }
}

.hour{
    position: absolute;
    top: 0; 
    right: 0;
    margin-right: 10px;
    margin-top: 13px;
    
}

.content-empty{
    border-radius: 10px;
    background-color: #3880ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 10px;
    .text-empty{
        text-align: center;
        font-family: 'Oxygen-Bold';
    }

    .icon-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 100px;
            height: 100px;
        }
    }
}

.ion-label{
    margin-right: 20px;
}




