<ion-header>
  <ion-toolbar color="dark">
    <p class="title-header">{{"messages" | translate}}</p>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="messages" >
  <ion-list *ngIf="(messages.length!=0); else vacio" #list>
    <div *ngFor="let message of messages; trackBy: trackByFn">

      <div *ngIf="(message.state == 'unread')" class="ion-activatable">
        <ion-item slot="start"  (click) = "presentModal(message)"  class="item bold" lines="full">
          <ion-label class="ion-label">
            <div class="content">
              <p class="title bold">{{message.title}}</p>
              <span *ngIf="message.state == 'unread'" class="point"></span>
            </div>
            <p [ngClass]="{'subtitle bold': (message.state == 'unread'), 'subtitle': !(message.state == 'unread')}">{{message.subtitle}}</p>
            <p [ngClass]="{'title bold': (message.state == 'unread'), 'title': !(message.state == 'unread')}">{{message.content}}</p>
            <p class="hour">{{message.date | date :  "HH:mm"}}</p>
          </ion-label>
          <ion-icon name="arrow-forward" class="look-item"></ion-icon>
        </ion-item>
        
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div *ngIf="(message.state != 'unread')" class="ion-activatable">
        <ion-item slot="start" (click) = "presentModal(message)" class="item" lines="full">
          <ion-label class="ion-label ">
            <div class="content">
              <p class="title bold">{{message.title}}</p>
              <span *ngIf="message.state == 'unread'" class="point"></span>
            </div>
            <p [ngClass]="{'subtitle bold': (message.state == 'unread'), 'subtitle': !(message.state == 'unread')}">{{message.subtitle}}</p>
            <p [ngClass]="{'title bold': (message.state == 'unread'), 'title': !(message.state == 'unread')}">{{message.content}}</p>
            <p class="hour">{{message.date | date :  "HH:mm"}}</p>
          </ion-label>
          <ion-icon name="arrow-forward" class="look-item"></ion-icon>
        </ion-item> 
        
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    
  </ion-list> 


  <ng-template #vacio>
    <div class="content-empty">
      <p class="text-empty">{{"nothing_message" | translate}}</p>
      <div class="icon-empty">
        <ion-icon class="icon" name="close-circle-outline"></ion-icon>
      </div>
    </div>
  </ng-template>

</ion-content>
