<ion-header>
  <ion-toolbar color="dark">
    <p class="text-nav">{{"register" | translate}}</p>
    <div [ngClass]="{'displayBtn': (!registerForm.invalid && !btn_rol && acceptTermsAndConditions) || (!registerForm.invalid && btn_rol && !registerFormBusiness.invalid && validationFields()),
     'notDisplay': (registerForm.invalid || !acceptTermsAndConditions || (registerFormBusiness.invalid && btn_rol)) || (registerFormBusiness.invalid && btn_rol && validationFields()) || (!registerFormBusiness.invalid && btn_rol && !validationFields())}">
      <ion-button color="dark" class="button-save" type="submit" (click) = "onRegister()">
        <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="container" #myContent>

  <div class="container-img">
    <ion-icon class="icon" name="contact"></ion-icon>
  </div>
  <div class="container-img">
    <p class="title-bold">{{"before" | translate}}</p>
  </div>
  <div class="container-img">
    <span class="subtitle"><b>{{"nameApp" | translate}}</b>{{"need_introduce_any_field" | translate}}</span>
  </div>

  <form [formGroup]="registerForm">
    <label class="label-input">{{"telephone" | translate}}</label>
    <ion-item lines="none" class="codes">
      <ionic-selectable
        class="codes-phones"
        formControlName="code"
        [isMultiple]="false" 
        [items]="codes"
        [canSearch]="true"
        searchPlaceholder='{{"search" | translate}}'
        closeButtonText='{{"cancel" | translate}}'>
      </ionic-selectable>
      <ion-input id="telephone" class="ion-input" type="text" formControlName="telephone" placeholder='{{"telephone" | translate}}' spellcheck='false'></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls['telephone'].errors && !registerForm.controls['telephone'].pristine" class="error-msg-register">
      <div [hidden]="!registerForm.controls['telephone'].errors.required">{{"telephone_required" | translate}}</div>
      <div [hidden]="!registerForm.controls['telephone'].errors.pattern">{{"telephone_pattern" | translate}}</div>
      <div [hidden]="!registerForm.controls['telephone'].errors.minlength && !registerForm.controls['telephone'].errors.maxlength ">{{"telephone_minLength_and_maxLength" | translate}}</div>
    </div>
  </form>

  <ion-item lines="none" class="item-account">
    <ion-label class="label-account">{{"account_professional" | translate}}</ion-label>
    <ion-toggle color="dark" class="toggle" (ionChange)= "changeRol()" [(ngModel)]="btn_rol" ></ion-toggle>
  </ion-item>

  <div id="scroll" class="ionitem-terms-and-conditions">
    <div class="checkbox-terms-and-conditions">
      <ion-checkbox color="primary" class="checkbox" [(ngModel)]="acceptTermsAndConditions"></ion-checkbox>
    </div>
    <div class="ionlabel-terms-and-conditions">
      {{ "accept_the" | translate }}<b class="termsConditions" (click)="onShowTerms()">{{"terms_and_conditions" | translate }}</b> 
      {{ "of the app" | translate }}.
    </div>
  </div>

  <div id="scroll" [ngClass] = "{'container-dates': (rol=='P'), 'container-dates none': (rol != 'P')}">

    <form [formGroup]="registerFormBusiness">
      <label class="label-input">{{"nameBusiness" | translate}}</label>
      <ion-item lines="none" class="ion-no-padding margin">
        <ion-input class="ion-input" type="text" formControlName="nameBusiness" placeholder='{{"nameBusiness" | translate}}' spellcheck='false'></ion-input>
      </ion-item>
      <div *ngIf="registerFormBusiness.controls['nameBusiness'].errors && !registerFormBusiness.controls['nameBusiness'].pristine" class="error-msg-register">
        <div [hidden]="!registerFormBusiness.controls['nameBusiness'].errors.required">{{"nameBusiness_required" | translate}}</div>
        <div [hidden]="!registerFormBusiness.controls['nameBusiness'].errors.pattern && !registerFormBusiness.controls['nameBusiness'].errors.minlength">{{"nameBusiness_pattern_and_minLength" | translate}}</div>
      </div>
      
      <label class="label-input">{{"streetBusiness" | translate}}</label>
      <ion-item lines="none" class="ion-no-padding margin">
        <ion-input class="ion-input" type="text" formControlName="streetBusiness" placeholder='{{"streetBusiness" | translate}}' spellcheck='false'></ion-input>
      </ion-item>
      <div *ngIf="registerFormBusiness.controls['streetBusiness'].errors && !registerFormBusiness.controls['streetBusiness'].pristine" class="error-msg-register">
        <div [hidden]="!registerFormBusiness.controls['streetBusiness'].errors.required">{{"streetBusiness_required" | translate}}</div>
        <div [hidden]="!registerFormBusiness.controls['streetBusiness'].errors.maxlength">{{"streetBusiness_maxLength" | translate}}</div>
      </div>

      <div class="content-days-maxVacancies">
        <div>
          <label class="label-input">{{"maxVacancies" | translate}} *</label>
          <ion-item lines="none" class="ion-no-padding margin">
            <ion-input class="ion-input" type="text" formControlName="maxVacancies" placeholder='{{"maxVacancies_placeholder" | translate}}' 
            spellcheck='false'></ion-input>
          </ion-item>
        </div>
      </div>

      <div class="content-days-maxVacancies">
        <div *ngIf="registerFormBusiness.controls['maxVacancies'].errors && !registerFormBusiness.controls['maxVacancies'].pristine" class="error-msg-register items">
          <div [hidden]="!registerFormBusiness.controls['maxVacancies'].errors.required">{{"maxVacancies_required" | translate}}</div>
          <div [hidden]="!registerFormBusiness.controls['maxVacancies'].errors.pattern">{{"maxVacancies_pattern" | translate}}</div>
        </div>
      </div>
      
      
      <div class="content-days-maxVacancies">
        
        <div>
          <label class="label-input">{{"daysBeforeCancelled" | translate}}</label>
          <ion-item lines="none" class="ion-no-padding margin">
            <ion-input class="ion-input" type="text" formControlName="daysBeforeCancelled" placeholder='{{"daysBeforeCancelled_placeholder" | translate}}' 
            spellcheck='false'></ion-input>
          </ion-item>
        </div>

        <div>
          <label class="label-input">{{"daysPenalitation" | translate}}</label>
          <ion-item lines="none" class="ion-no-padding margin">
            <ion-input class="ion-input" type="text" formControlName="daysPenalitation" placeholder='{{"daysPenalitation_placeholder" | translate}}' 
            spellcheck='false'></ion-input>
          </ion-item>
        </div>
      </div>
      
      <div class="content-days-maxVacancies">
       
        <div *ngIf="registerFormBusiness.controls['daysBeforeCancelled'].errors && !registerFormBusiness.controls['daysBeforeCancelled'].pristine" class="error-msg-register items">
          <div [hidden]="!registerFormBusiness.controls['daysBeforeCancelled'].errors.pattern">{{"daysBeforeCancelled_pattern" | translate}}</div>
        </div>

        <div *ngIf="registerFormBusiness.controls['daysPenalitation'].errors && !registerFormBusiness.controls['daysPenalitation'].pristine" class="error-msg-register items">
          <div [hidden]="!registerFormBusiness.controls['daysPenalitation'].errors.pattern">{{"daysPenalitation_pattern" | translate}}</div>
        </div>
      </div>

    </form>

    <label class="label-input">{{"services" | translate}}</label>
    <ion-item *ngIf="services.length == 0" lines="none" class="ion-no-padding margin"  (click)="changeService()">
      <ion-input class="ion-input" type="text" placeholder='{{"services_placeholder" | translate}}' spellcheck='false'></ion-input>
    </ion-item>
    <div class="service-items"> 
      <div class="service" *ngFor="let service of services; trackBy: trackByFn">
        <ion-chip color="primary" class="chip">
          <ion-label (click) = "changeService(service)">{{service.name}}</ion-label>
          <ion-icon color="dark" name="close" class="close" (click)="deleteService(service)"></ion-icon>
        </ion-chip>
      </div>
    </div>
    
    <label class="label-input category">{{"categoryBusiness" | translate}}</label>
    <ion-select [(ngModel)]="category" okText='{{"save" | translate}}' cancelText='{{"cancel" | translate}}'
     placeholder='{{"categoryBusiness" | translate}}' style="margin-left: 10px; margin-top: 5px; font-weight: bold; opacity: 0.6;">
      <ion-select-option *ngFor="let cat of categories; trackBy: trackByFn">{{cat}}</ion-select-option>
    </ion-select>

    <div class="container-schedule">
      <label class="label-input">{{"schedule" | translate}}</label>
      <ion-grid class="table">
        <div class="hoursWorks">
          <div *ngFor="let item of hoursWork">
            <div *ngIf="item.hours && item.hours.length > 0">
              <ion-row>
                <ion-col class="col day">
                  <span *ngIf="item.hours">{{item.name}}</span>
                </ion-col>
              </ion-row>
            
              <ion-row class="hour" *ngFor="let hour of item.hours | keyvalue">
              
                <ion-col class="col">
                  <span>{{hour.value.text}} </span>
                </ion-col>
                <ion-col class="col">
                  <span *ngIf="hour.value.type == 'G'">{{"group" | translate}}</span>
                  <span *ngIf="hour.value.type == 'I'">{{"individual" | translate}}</span>
                  <span *ngIf="hour.value.type == 'ANY'">{{"any" | translate}}</span>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-grid>
      <ion-button class="btn-schedule" shape="round" expand="block" fill="outline" color="primary" (click)="saveSchedule()">
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label>{{"define_schedule" | translate}}</ion-label>
      </ion-button>
    </div>
    
  </div>
  
</ion-content>
