<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons class="icon-nav">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <p class="title-header">{{"employee" | translate}}</p>

    <ion-buttons class="header-buttons end">
      <ion-button (click)="editEmployee()">
        <ion-icon name="create" class="icons"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteEmployee()">
        <ion-icon name="trash" class="icons"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(employee)" color="light">
  
  <div class="container-information">
    <div class="container-img">
      <div class="avatar" (click)="showPicture()">
        <ion-avatar slot="start" class="avatar-img">
          <img class="imgProfile" src="{{employee.imgProfile}}">
        </ion-avatar>
      </div>  
    </div>

    <div>
      <p class="bold first">{{"fullname" | translate}}</p>
      <p class="text">{{employee.fullname}}</p>
    </div>

    <div>
      <p class="bold">{{"telephone" | translate}}</p>
      <div class="container-buttons">
        <ion-button fill="outline" class="btn" color="primary" (click) = "contactBusiness('call', business.details.telephone)"> 
          <ion-icon name="call"></ion-icon>
        </ion-button>
  
        <ion-button fill="outline" class="btn" color="secondary" (click) = "contactBusiness('sms', business.details.telephone)"> 
          <ion-icon name="mail" ></ion-icon>
        </ion-button>
        
        <ion-button fill="outline" class="btn" color="success" (click) = "contactBusiness('wp', business.details.telephone)"> 
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="schredule">
      <p class="bold">{{"hourswork_of_employee" | translate}}</p>
      <ion-grid class="table">
        <div class="hoursWorks">
          <div *ngFor="let item of employee.hoursWork">
            <div *ngIf="item.hours && item.hours.length > 0">
              <ion-row>
                <ion-col class="col day">
                  <span *ngIf="item.hours">{{item.name}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="hour" *ngFor="let hour of item.hours | keyvalue">
                <ion-col class="col">
                  <span>{{hour.value.text}} </span>
                </ion-col>
                <ion-col class="col">
                  <span *ngIf="hour.value.type == 'G'">{{"group" | translate}}</span>
                  <span *ngIf="hour.value.type == 'I'">{{"individual" | translate}}</span>
                  <span *ngIf="hour.value.type == 'ANY'">{{"any" | translate}}</span>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-grid>
    </div>
  </div>
  
</ion-content>
