.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.header-buttons{
    position: absolute;
    &.end{
        top: 0;
        right: 0;
        height: 100%;
    }
}

.icons{
    width: 23px;
    height: 23px;
}

.icon{
    border: 3px solid red;
    fill: red !important;
}


.md .icon-nav {
    position: absolute;
    margin-top: 10px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .icon-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .icon-back{
        height: 25px;
        width: 25px;
    }
}

.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        margin-right: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 5px;
        --padding-bottom: 5px;

        display: grid;
        position: relative;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    }
}


.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20%;
    padding-bottom: 50px;
    border-radius: 15px 15px 15px 15px;
    .avatar{
        margin-top: 30px;
        position: relative;
        .avatar-img{
            margin: 3px;
            margin-bottom: 5px;
            width: 90px;
            height: 90px;
        }
    }

    .icon-avatar{
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 0px 0px 20px;
        width: 25px;
        height: 25px;
    }
}

.container-information{
    box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.48);
    margin: 10px;
    margin-top: 25px;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
    .bold{
        font-family: 'Oxygen-Bold';
        &.first{
            margin-top: 0px;
        }
        &.color{
            color: #3880ff;
        }
    }
    .schredule{
        margin-bottom: 20px;
        position: relative;
        .table{
            margin-top:10px;
            .hoursWorks{
                margin-top: 10px;
                margin-bottom: 10px;
                .col{
                    background-color: #ddd;
                    border: solid 1px #222428;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.day{
                        background-color: #222428;
                        color: white;
                        font-family: 'Oxygen-Bold';
                    }
                }
            }
        }
    }
}






  