
.btn-tab{
    --color: black !important;
    --border: grey;
}

.noneDisplay{
    display: none;
}

.notification{
    font-size: 70%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 100%;
    margin-top: 5px;
    height: 15px;
    width: 15px;
  }