<ion-tabs>
  <ion-tab-bar color='dark' slot="bottom" [class.noneDisplay]="!tabStateService.display">
    <ion-tab-button tab="list_appointments" class="btn-tab">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>{{"appointments" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list_companies" class="btn-tab">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{"business" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="rol=='P'" tab="clients" class="btn-tab">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>{{"clients" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list_messages" class="btn-tab">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{"messages" | translate}}</ion-label>
      <ion-badge *ngIf="numMessages > 0" class="notification" color="danger">{{numMessages}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="btn-tab">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{"profile" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
