<ion-header>
  <ion-toolbar color="dark">
    <p class="title-header">{{"name_App" | translate}}</p>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="exit">
  <div class="center" (click)="goAboutUs()">
    <img src="../../../assets/icon/icon.png">
  </div>
  
  <div class="container-login">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item class="item-inputs">
        <ion-icon name="person" color='dark'></ion-icon>
        <ion-input type="email" class="input" placeholder='{{"email" | translate}}' formControlName="email" spellcheck="false"></ion-input>
      </ion-item>
      <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="error-msg">
        <div [hidden]="!loginForm.controls['email'].errors.required">{{"email_required" | translate}}</div>
        <div [hidden]="!loginForm.controls['email'].errors.email">{{"email_invalid" | translate}}</div>
      </div>
        
      <ion-item class="item-inputs">
        <ion-icon name="lock" color='dark'></ion-icon>
        <ion-input [type]="typeEye" class="input" placeholder='{{"password" | translate}}' formControlName="password" spellcheck="false"></ion-input>
        <ion-icon name="eye" (click)="togglePassword()" [color]="colorEye"></ion-icon>
      </ion-item>
      <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="error-msg">
        <div [hidden]="!loginForm.controls['password'].errors.required">{{"password_required" | translate}}</div>
      </div>
      <div class="container-buttons">
          <button class="ion-activatable email" type="submit" value="Log in" [disabled]="loginForm.invalid" (click)="onLogin()" >{{"login" | translate}} <ion-ripple-effect></ion-ripple-effect></button>
      </div>
    </form>
  </div>
  
  <ion-footer class="container-buttons" *ngIf="exit"> 
    <div class="ion-activatable facebook" (click)="onLoginFacebook()">
      <ion-icon name="logo-facebook" class="ion-icon"></ion-icon>
      {{"login_facebook" | translate}}
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="ion-activatable google" (click)="onLoginGoogle()">
      <ion-icon name="logo-google" class="ion-icon"></ion-icon>
      {{"login_google" | translate}}
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="container-links">
      <p class="links" [routerLink]="['/register']">{{"register" | translate}}</p>
      <p class="links" [routerLink]="['/forgotpassword']">{{"forgot_password" | translate}}</p>
    </div>
  </ion-footer>
</ion-content>