  
  .title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
  }

  .center {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
  }
  
  .container-login{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .container-buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    
    
    .ion-activatable {
      width: 288px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 6px;
      margin-bottom: 8px;
      font-family: 'Oxygen-Bold';
      
      position: relative;
      overflow: hidden;
      &.email{
        outline: none;
        background-color: #000000;
        color: white;
        font-size: 15px;
        box-shadow: 0px 0px 19px -9px rgba(0, 0, 0, 0.48);
        button{
          outline: none;
          color: white;
          background-color: #000000;
        }
      }
    
      &.facebook {
        background-color: #4267b2;
        color: white;
        font-size: 15px;
        box-shadow: 0px 0px 19px -9px rgba(0, 0, 0, 0.48);
       
        .ion-icon {
          height: 23px;
          width: 23px;
          position: absolute;
          left: 0;
          margin-left: 15px;
        }
      }
    
      &.google {
        background-color: #ffffff;
        font-size: 15px;
        box-shadow: 0px 0px 19px -9px rgba(0, 0, 0, 0.48);
        position: relative;
        .ion-icon {
          height: 23px;
          width: 23px;
          position: absolute;
          left: 0;
          margin-left: 15px;
        }
      }
    
      &.center{
        justify-content: center;
        align-content: center;
      }
  
    }
  
  }
  
  .input{
    background: transparent;
    border-radius: 25px;
    margin-left: 10px;
    --placeholder-font-weight: bold;
    --placeholder-opacity: 0.2;
  }
  
  .ion-padding{
    --background: #ffffff;
  }
  
  .item-inputs{
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .footer-md:before {
    width: 0%;
  }
  
  .container-links{
    display: flex;
    justify-content: center;
    align-content: center;
    .links{
      outline: none;
      font-size: 12px;
      margin: 10px;
      font-family: 'Oxygen-Bold';
    }
  }
  