.text-nav{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    margin-top: 4px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}


.botones{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;

    .btn-gender{
        background-color:#000000;
        border-radius: 25px;
        padding: 10px 10px;
        opacity: 0.2;
        margin-top: 12px;
        margin-right: 13px;
        margin-bottom: 70px;
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        outline: none;
        font-family: 'Oxygen-Bold';
        &.selection{
            opacity: 1;
            transition: 0.6s;
        }
    }
}


.service-items{
    margin-top: 10px;
    margin-left: 26px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    .service{
        display: grid;
        position: relative;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill);
    }
}

.container{
    --background: #ffffff;
    --padding-end: 15px;
    --padding-bottom: 50px;

    .label-input{
        margin-left: 26px;
        margin-top: 20px;
        &.category{
            margin-top: 0px;
        }
    }

    .btn{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .label-input-nick{
        margin-left: 26px;
        margin-top: 25px;
    }

    .item-account{
        margin-left: 14px;
        margin-top: 10px;
        --padding-start: 12px !important;
        .label-account{
            display: block;
            font-weight: bold;
            font-size: 14px;
            font-family: 'Oxygen-Bold';  
        }

        .toggle{
            position: absolute;
            right: 0;
            margin-top: 0.5%;
        }
    }
    
    
    label{
        display: block;
        font-weight: bold;
        font-size: 14px;
        font-family: 'Oxygen-Bold'; 
    }
    
    input{
        border: 0px;
        width: 90%;
        margin-right: 37px;
        margin-top: 8px;
        font-size: 18px;
        outline: none;
    }
    
    .item-padding{
        margin-left: 10px;
        margin-top: 20px;
        padding: 0px;
    }
    
    .span-placeholder-languages{
        margin-top: 0px;
        margin-left: 26px;
        font-weight: bold;
        color: #000000;
        opacity: 0.2;
    }
    
    .label-input-date{
        margin-left: 26px;
        margin-top: 22px;
    }
    
    .error-msg-register{
        margin-left: 26px;
        color: red;
        margin-top: 3px;
        font-family: 'Oxygen-Bold';
        font-size: 14px;
        .items{
            margin-right: 15px;
        }
    }
    
    #label-password-confirm{
        margin-left: 26px;
        margin-top: 21px;
    }
    
    .ion-no-padding{
        margin-top: 0px;
        margin-left: 10px;
        
        .ion-input{
            margin-left: 16px;
            --placeholder-font-weight: bold;
            --placeholder-opacity: 0.2;
            --padding-top: 0px;
            --padding-bottom: 0px;

            &.spaceTelephone{
                margin-left: 10px;
                border: 1px solid red;
            }
        }

        #label-languages{
            margin-left: 15px;
        }

        &.item-padding-languages{
            margin-top: 20px;
            padding: 0px;
        }
    
        .ionic-selectable-icon {
            position: relative;
            width: 20px;
            margin-bottom: 100px !important;
        }
    
        .ion-input-passwords{
            margin-left: 16px;
            --placeholder-font-weight: bold;
            --placeholder-opacity: 0.2;
            --padding-top: 0px;
            --padding-bottom: 0px;
        }
    
        .selector-datetime{
            color: #000000;
            font-weight: bold;
            opacity: 0.2;
        }
    
        .date-select{
            font-size: 18px;
            color: #000000;
            opacity: 1;
            font-family: "Oxygen-Regular";
            font-weight: normal;
        }
    }
    
    .margin-ion-items{
        margin-top: 50px;
    }
    
    .container-btn{
        margin-left: 26px;
        margin-right: 26.5px;
    }
    
    .container-btn-text{
        margin-left: 26px;
        margin-right: 26.5px;
        font-size: 18px;
    }
    
    .bg-grey{
        background-color: rgb(241, 240, 240);
        border-radius: 25px;
        padding: 9px 13px;
        margin: 5px;
        display: inline-block;
    }
    
    .btn-fixed{
        position: fixed;
        bottom: 36px;
        width: 100%;
        margin-top: 30%;
        z-index: 1030;
        cursor: pointer;
    
        .ion-activatable{
            padding: 2.1px 12.2px;
            font-weight: bold;
            font-family: 'Oxygen-Bold';
            
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 53px;
            margin-right: 53px;
            padding: 13px 74px;
            border-radius: 5px;
            background: #000000;
        }
    
        .btn-submit{
            background: #000000;
            text-align: center;
            color: white;
            outline: none;
            font-size: 15px;
        }

        button[disabled]{
            color: white;
            opacity: 0.3;
        }
    }
}

.content-days-maxVacancies{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button[disabled]{
    color: white;
    opacity: 0.3;
}

.codes{
    border-color: rgba(0, 0, 0, 0);
    --background: rgba(0, 0, 0, 0);
}

.codes-phones{
    margin-left: 10px;
}

.inputs{
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 5px;
}

.rol{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen-Bold';
    font-size: 16px;
    text-align: center;
}

.container-schedule{
    margin-top: 20px;
    margin-bottom: 20px;
    
    .table{
        margin-top: 8px;
        margin-left: 26px;
        padding-left: 0px;
        .hoursWorks{
            margin-top: 10px;
            margin-bottom: 10px;
            .col{
                background-color: #ddd;
                border: solid 1px #222428;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &.day{
                    background-color: #222428;
                    color: white;
                    font-family: 'Oxygen-Bold';
                }
            }
        }
    }
    .btn-schedule {
        margin-left: 20px !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
    }
}

.botones{
    position: relative;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

    .btn-gender{
        background-color:#000000;
        border-radius: 25px;
        padding: 10px 15px;
        opacity: 0.2;
        margin-top: 17px;
        margin-right: 13px;
        margin-bottom: 0px !important;
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        outline: none;
        font-family: 'Oxygen-Bold';
        &.selection{
            background-color:#000000;
            opacity: 1;
            transition: 0.6s;
        }
    }
}

.ion-input{
    margin-left: 16px;
    --placeholder-font-weight: bold;
    --placeholder-opacity: 0.2;
    --padding-top: 0px;
    --padding-bottom: 0px;
}

.displayBtn{
    display: block;
}

.notDisplay{
    display: none;
}

.ionitem-terms-and-conditions{
    margin-left: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .checkbox-terms-and-conditions{ 
        margin-right: 10px;
    }

    .ionlabel-terms-and-conditions{
        white-space: normal;
        .termsConditions{
            text-decoration: underline;
            color: #3880ff;
        }
    }
}

.md .button-save{
    position: absolute;
    margin-top:8px;
    top: 0;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 25px;
        height: 25px;
    }
}

.ios .button-save{
    position: absolute;
    top: 0;
    margin-top: 6px;
    right: 0;
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 40px;
        height: 40px;
    }
}



.container-dates{
    justify-content: center;
    display: flex;
    align-items: center;
    &.none{
        display: none;
    }
}

.container-day{
    .day{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 20px;
        padding-left: 0px;
    }
    .hours{
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .btn-hour{
            border: 2px solid black;
            padding: 5px 10px;
            text-align: center;
            width: 90px;
            margin: 1px;
            &.notWork{
                border: 2px solid black;
            }
        }

        .btn-hour-blue{
            border: 2px solid black;
            background:#F1948A;
            padding: 5px 10px;
            text-align: center;
            width: 90px;
            margin: 1px;
            &.notWork{
                border: 2px solid black;
            }
        }
    }
}

.select-true{
    border: 2px solid black;
    background:#F1948A;
    padding: 5px 10px;
    text-align: center;
    width: 90px;
    margin: 1px;
}

.not-select{
    border: 2px solid black;
    padding: 5px 10px;
    text-align: center;
    width: 90px;
    margin: 1px;
}

.selection-hours{
    font-family: 'Oxygen-Bold';
    margin-top: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
}



