<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons class="icon-nav">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <p class="title-header">{{"employee" | translate}}</p>

    <ion-buttons class="header-buttons end">
        <ion-button [ngClass]="{'displayBtn': (!editProfileForm.invalid && validationExternal()), 'notDisplay': (editProfileForm.invalid || !validationExternal())}" color="dark" class="button-save" type="submit" (click)="saveInformation()">
          <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
        </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="container" >
  <div class="content-imgProfile" *ngIf="(employee)">
    <div class="ion-activatable" (click)="showPicture()">
      <img class="imgProfile" src="{{employee.imgProfile}}">
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <form  [formGroup]="editProfileForm" *ngIf="(employee)">
    <div>
      <ion-label class="label">{{"fullname" | translate}} *</ion-label>
      <ion-input placeholder='{{"fullname" | translate}}' formControlName="fullname" spellcheck="false" class="input"></ion-input>
      <div *ngIf="editProfileForm.controls['fullname'].errors && !editProfileForm.controls['fullname'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['fullname'].errors.required">{{"fullname_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['fullname'].errors.minlength">{{"fullname_minLength" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['fullname'].errors.pattern">{{"fullname_pattern" | translate}}</div>
      </div>
    </div>
    
    <div>
      <ion-label class="label">{{"telephone" | translate}} *</ion-label>
      <ion-item lines="none" class="codes">
        <ionic-selectable
          class="codes-phones"
          formControlName="code"
          [isMultiple]="false" 
          [items]="codes"
          [canSearch]="true"
          searchPlaceholder="{{'search' | translate}}"
          closeButtonText="{{'cancel' | translate}}"
          (onChange)="changeCode($event)">
        </ionic-selectable>
        <ion-input placeholder="Teléfono" formControlName="telephone" spellcheck="false" class="input"></ion-input>
      </ion-item>
      <div *ngIf="editProfileForm.controls['telephone'].errors && !editProfileForm.controls['telephone'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['telephone'].errors.required">{{"telephone_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['telephone'].errors.pattern">{{"telephone_pattern" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['telephone'].errors.minlength && !editProfileForm.controls['telephone'].errors.maxlength ">{{"telephone_minLength_and_maxLength" | translate}}</div>
        </div>
    </div>

  </form>

  <div *ngIf="addService" class="services">
    <ion-label class="label">{{"services" | translate}} *</ion-label>
    <ion-select class="select" multiple="true" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" [(ngModel)]='servicesMultiple' placeholder='{{"services" | translate}}'>
      <ion-select-option value="nothing">{{"nothing" | translate}}</ion-select-option>
      <ion-select-option *ngFor="let service of services; trackBy: trackByFn" value="{{service.id}}">{{service.name}}</ion-select-option>
    </ion-select>
  </div>

  <div class="container-schedule" *ngIf="(employee)">
    <ion-label class="label schedule">{{"hourswork_of_employee" | translate}} *</ion-label>
    <ion-grid class="table" *ngIf="employee.hoursWork.length > 0">
      <div class="hoursWorks">
        <div *ngFor="let item of employee.hoursWork">
          <div *ngIf="item.hours && item.hours.length > 0">
            <ion-row>
              <ion-col class="col day">
                <span *ngIf="item.hours">{{item.name}}</span>
              </ion-col>
            </ion-row>
          
            <ion-row class="hour" *ngFor="let hour of item.hours | keyvalue">
            
              <ion-col class="col">
                <span>{{hour.value.text}} </span>
              </ion-col>
              <ion-col class="col">
                <span *ngIf="hour.value.type == 'G'">{{"group" | translate}}</span>
                <span *ngIf="hour.value.type == 'I'">{{"individual" | translate}}</span>
                <span *ngIf="hour.value.type == 'ANY'">{{"any" | translate}}</span>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </ion-grid>
    <ion-button class="btn" shape="round" expand="block" fill="outline" color="primary" (click)="changeSchedule()">
      <ion-icon slot="start" name="calendar"></ion-icon>
      {{"change_schedule" | translate}}
    </ion-button>
  </div>

</ion-content>
