.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.header-buttons{
    position: absolute;
    &.end{
        top: 0;
        right: 0;
        height: 100%;
    }
}

.icons{
    width: 23px;
    height: 23px;
}

.icon{
    border: 3px solid red;
    fill: red !important;
}



.md .icon-nav {
    position: absolute;
    margin-top: 10px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .icon-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}


.container{
    --padding-start: 25px !important;
    --padding-end: 25px !important;
    --padding-top: 0px !important;
    --padding-bottom: 30px !important;
}

.items{
    align-items: none !important;
    display:block !important;
}

.label{
    font-weight: bold;
    margin-top: 30px;
    display: block;
    &.schedule{
        margin-top: 0px;
    }
}


.input {
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-top: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 10px !important;
    --background: #eee;
    --placeholder-opacity: 0.3;
    border-radius: 10px;
    border: 2px #eee solid;

}

.services{
    margin-bottom: 30px;
    .label{
        margin-top: 10px;
        font-weight: bold;
    }

    .select{
        background-color: #eee;
        margin-top: 10px;
        margin-bottom: 20px;
        --padding-top: 10px !important;
        --padding-end: 10px !important;
        --padding-bottom: 10px !important;
        --padding-start: 10px !important;
        border-radius: 10px;
        border: 2px #eee solid;
    }
    
}


.content-imgProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .ion-activatable{
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgProfile{
            width: 80px;
            height: 80px;
        }

        .container-icon{
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            width: 80px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom:0;
            background:rgba(255,255,255,0.6);

            .camera{
                width: 20px;
                height: 20px;
            }
        }
    }
}

.error-msg-register{
    color: red;
    margin-top: 3px;
    font-family: 'Oxygen-Bold';
    font-size: 14px;
}

.ionic-selectable:not(.ionic-selectable-has-label){
    margin-bottom: 10px !important;
}

.item-interactive.ion-invalid {
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}

.item-interactive.ion-valid{
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}


.displayBtn{
    display: block;
}

.notDisplay{
    display: none;
}

.md .button-save{
    text-transform: initial !important;
    font-family: 'Oxygen-Bold';
    font-size: 16px;
    
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 8px !important;
    --padding-end: 8px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 25px;
        height: 25px;
    }

}


.ios .button-save{
    text-transform: initial !important;
    font-family: 'Oxygen-Bold';
    font-size: 16px;
    
    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 8px !important;
    --padding-end: 8px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    letter-spacing: 0.00em !important;
    margin-bottom: 0px;
    --ion-color-contrast: none !important;
    
    .checkmark{
        width: 40px;
        height: 40px;
    }

}
  
.botones{
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;

    .btn-gender{
        background-color:#000000;
        border-radius: 25px;
        padding: 10px 10px;
        opacity: 0.2;
        margin-top: 12px;
        margin-right: 13px;
        margin-bottom: 70px;
        width: 40%;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        outline: none;
        font-family: 'Oxygen-Bold';
        &.selection{
            opacity: 1;
            transition: 0.6s;
        }
    }
}

.content-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .item1{
        margin-right: 10px;
    }
    .btn {
        margin-left: 10px !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
    }
    
}

.service-items{
    display: flex;
    flex-wrap: wrap;
    .service{
        display: grid;
        position: relative;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill);
    }

}


.container-schedule{
    margin-top: 20px;
    margin-bottom: 20px;
    .table{
        margin-top:10px;
        .hoursWorks{
            margin-top: 10px;
            margin-bottom: 10px;
            .col{
                background-color: #ddd;
                border: solid 1px #222428;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &.day{
                    background-color: #222428;
                    color: white;
                    font-family: 'Oxygen-Bold';
                }
            }
        }
    }
    .btn {
        margin-top: 20px;
        margin-left: 10px !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
    }
}

