.md .icon-nav {
    position: absolute;
    top: 6px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.header-buttonsEnd{
    --box-shadow: 0px !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 10px;

    .img-back{
        height: 23px;
        width: 23px;
    }
}

.title-header{
    text-align: center;
}

.subtitle{
    font-weight: bold;
    font-size: 14px;
    
}

.content{
    text-align: justify;
}

.ios .card-content{
    padding-top: 0px;
    padding-bottom: 0px;
}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}
