<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="dismiss()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="title-header">{{message.title}}</p>
    <ion-button color="dark" (click)="deleteMessage()" class="header-buttonsEnd">
      <ion-icon name="trash" class="img-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title class="title">{{message.title}}</ion-card-title>
    <ion-card-title class="subtitle">{{message.subtitle}}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="card-content">
    <div class="content">{{message.content}}</div>
  </ion-card-content>
  <ion-button *ngIf="message.type == 'on'" shape="round" expand="block" fill="outline" color="danger" (click)="addToCalendar()" class="ion-margin">
    <ion-icon slot="start" name="calendar"></ion-icon>
    {{"add_to_calendar" | translate}}
  </ion-button>
</ion-content>
