<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    
    <p class="title-header">{{"members" | translate}}</p>
    
    <div *ngIf="appointment.state == 'completed'" class="button-save">
      <ion-button class="btn" color="dark" type="submit" (click)="confirmInfoAlert()" [disabled]="!toogleSave">
        <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="container">

  <div class="date-appointment">{{appointment.dateView}} {{"to_the" | translate}} {{appointment.date | date :  "HH:mm"}}</div>

  <div *ngIf="appointment.state == 'completed'" class="content-initial">{{"list_people" | translate}}</div>
  <div *ngIf="appointment.state != 'completed'" class="content-initial">{{"members_in_appointment" | translate}}</div>

  <ion-list *ngIf="appointment.state == 'completed'">
    <ion-item lines="full" *ngFor="let member of members">
      <ion-icon slot="start" name="person" color="dark"></ion-icon>
      <ion-label class="contact">{{member.name}}</ion-label>

      <ion-icon *ngIf="member.status == 'TRUE-CLOSE' || member.status == 'NOTHING'" slot="end" color="dark" name="checkmark" (click)="rollCallUser(member, 'TRUE-CHECK')"></ion-icon>
      <ion-icon *ngIf="member.status == 'TRUE-CHECK'" slot="end" color="dark" name="checkmark-circle"></ion-icon>
      
      <ion-icon *ngIf="member.status == 'TRUE-CHECK' || member.status == 'NOTHING'" slot="end" color="dark" name="close" (click)="rollCallUser(member, 'TRUE-CLOSE')"></ion-icon>
      <ion-icon *ngIf="member.status == 'TRUE-CLOSE'" slot="end" color="dark" name="close-circle"></ion-icon>

    </ion-item>
  </ion-list>

  <div *ngIf="appointment.state != 'completed'" >
    <div *ngFor="let member of members" class="container-center">
      <ion-icon class="icon-person" name="person" color="dark"></ion-icon>
      <ion-label class="contact">{{member.name}}</ion-label>
    </div>
  </div>
  

</ion-content>