
.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}


.ios .icon-nav {
    position: absolute;
    margin-top: 4px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.container{
    --padding-start: 25px !important;
    --padding-end: 25px !important;
    --padding-top: 0px !important;
    --padding-bottom: 30px !important;

    .date-appointment{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: LIGHTSALMON;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}

.contact{
    white-space: pre-line !important;
}

.content-initial{
    text-align: justify;
    font-family: 'Oxygen-Bold';
    margin-top: 30px;
    margin-bottom: 10px;
}

.md .button-save{
    position: absolute;
    top: 10%;
    right: 0;
    .btn{
        --box-shadow: 0px !important;
        --background: white !important;
        --background-focused: white !important;
        --background-hover: white !important;
        --color: black !important;
        --color-activated: black !important;
        --color-focused: black !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --padding-bottom: 0px !important;
        --padding-top: 0px !important;
        --background-activated: #eee !important;
        margin-bottom: 0px;

        .checkmark{
            width: 25px;
            height: 25px;
        }
    }
}

.ios .button-save{
    position: absolute;
    top: 0;
    margin-top: 4px;
    right: 0;
    .btn{
        --box-shadow: 0px !important;
        --background: white !important;
        --background-focused: white !important;
        --background-hover: white !important;
        --color: black !important;
        --color-activated: black !important;
        --color-focused: black !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --padding-bottom: 0px !important;
        --padding-top: 0px !important;
        --background-activated: #eee !important;
        margin-bottom: 0px;

        .checkmark{
            width: 40px;
            height: 40px;
        }
    }
}



.container-center{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #ddd;
    .icon-person{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .contact{
        white-space: pre-line !important;
        font-weight: bold;
        font-size: 16px;
        margin-left: 15px;
        margin-bottom: 5px;

    }
}



