<ion-header *ngIf="business">
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class ="img-back"></ion-icon>
    </ion-button>
    <p class="title-header">{{business.details.nameBusiness}}</p>
    <ion-buttons *ngIf="user.id != business.id" class="header-buttons" >
      <ion-button (click)="goAppointment()">
        <ion-icon name="add" class="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-img" *ngIf="business">
    <div *ngIf="business.id != this.user.id">
      <ion-icon *ngIf="favourited" (click) = "favourited = !favourited" name="star" class="icon-avatar"></ion-icon>
      <ion-icon *ngIf="!favourited" (click) = "favourited = !favourited; presentAlert()" name="star-outline" class="icon-avatar"></ion-icon>
    </div>
    <div class="avatar" (click)="showPicture()">
      <ion-avatar slot="start" class="avatar-img" >
        <ion-img src="{{business.details.imgProfile}}"></ion-img> 
      </ion-avatar>
    </div>  
  </div>

  <div class="container-information" *ngIf="business">
    <div >
      <p class="bold first">{{"nameBusiness" | translate}}</p>
      <p class="text">{{business.details.nameBusiness}}</p>
    </div>

    <div >
      <p class="bold">{{"streetBusiness" | translate}}</p>
      <p class="text">{{business.details.streetBusiness}}</p>
    </div>

    <div >
      <p class="bold">{{"categoryBusiness" | translate}}</p>
      <p class="text">{{business.details.category}}</p>
    </div>

    <div>
      <p class="bold">{{"services" | translate}}</p>
      <div class="service-items"> 
        <div class="service" *ngFor="let service of business.details.services; trackBy: trackByFn">
          <ion-chip color="primary">
            <span>{{service.name}}</span>
            <ion-icon name="pricetag"></ion-icon>
          </ion-chip>
        </div>
      </div>
    </div>

    <div class="container-items information">
      <div>
        <b class="bold">{{"maxVacancies" | translate}}</b>
        <p>{{business.details.maxVacancies}}</p>
      </div>
    </div>
    
    <div class="container-items information">
      <div>
        <b class="bold">{{"daysBeforeCancelled" | translate}}</b>
        <p *ngIf="business.details.daysBeforeCancelled">{{business.details.daysBeforeCancelled}}</p>
        <p *ngIf="!business.details.daysBeforeCancelled">0</p>
      </div>
      <div>
        <b class="bold">{{"daysPenalitation" | translate}}</b>
        <p *ngIf="business.details.daysPenalitation">{{business.details.daysPenalitation}}</p>
        <p *ngIf="!business.details.daysPenalitation">0</p>
      </div>
    </div>

    <div class="bottom" *ngIf="business.id != user.id">
      <p class="bold">{{"contact" | translate}}</p>
      <p class="text">{{business.email.slice(0,1).toUpperCase() + business.email.slice(1)}}</p>
      
      <div class="container-buttons">
        <ion-button fill="outline" class="btn" color="primary" (click) = "contactBusiness('call', business.details.telephone)"> 
          <ion-icon name="call"></ion-icon>
        </ion-button>

        <ion-button fill="outline" class="btn" color="secondary" (click) = "contactBusiness('sms', business.details.telephone)"> 
          <ion-icon name="mail" ></ion-icon>
        </ion-button>
        
        <ion-button fill="outline" class="btn" color="success" (click) = "contactBusiness('wp', business.details.telephone)"> 
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div>
      <p class="bold">{{"schedule" | translate}}</p>
      <ion-grid class="table">
        <div class="hoursWorks">
          <div *ngFor="let item of business.details.hoursWork">
            <div *ngIf="item.hours && item.hours.length > 0">
              <ion-row>
                <ion-col class="col day">
                  <span *ngIf="item.hours">{{item.name}}</span>
                </ion-col>
              </ion-row>
              <ion-row class="hour" *ngFor="let hour of item.hours | keyvalue">
                <ion-col class="col">
                  <span>{{hour.value.text}} </span>
                </ion-col>
                <ion-col class="col">
                  <span *ngIf="hour.value.type == 'G'">{{"group" | translate}}</span>
                  <span *ngIf="hour.value.type == 'I'">{{"individual" | translate}}</span>
                  <span *ngIf="hour.value.type == 'ANY'">{{"any" | translate}}</span>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-grid>
    </div>
  </div>

</ion-content>
