.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 3px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}


.ios .icon-nav {
    position: absolute;
    top: 3px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.md .header-buttons{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-top: 1px;
    .add{
        width: 25px;
        height: 25px;
        margin-bottom: 2px;
        margin-left: 2px;
    }
}

.ios .header-buttons{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-top: 1px;
    .add{
        width: 35px;
        height: 35px;
        margin-bottom: 2px;
        margin-left: 2px;
    }
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: CORNFLOWERBLUE;
    padding: 50px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 15px 15px 15px 15px;
    .avatar{
        position: relative;
        .avatar-img{
            margin: 3px;
            margin-bottom: 5px;
            width: 90px;
            height: 90px;
        }
    }

    .icon-avatar{
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 0px 0px 20px;
        width: 25px;
        height: 25px;
    }
}

.container-information{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 15px 15px;
    background-color: white;
    max-height: 100%;
    padding: 15px;
    .bold{
        font-family: 'Oxygen-Bold';
        &.first{
            margin-top: 0px;
        }
        &.color{
            color: #3880ff;
        }
    }

    .service-items{
        display: flex;
        flex-wrap: wrap;
        .service{
            display: grid;
            position: relative;
            flex-direction: column;
            grid-template-columns: repeat(auto-fill);
        }

    }

    .container-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            margin-right: 5px;
            --padding-start: 5px;
            --padding-end: 5px;
            --padding-top: 5px;
            --padding-bottom: 5px;

            display: grid;
            position: relative;
            flex-direction: column;
            grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        }
    }

    .bottom{
        margin-bottom: 20px;    
    }
}



.table{
    margin-top:10px;
    
    .hoursWorks{
        margin-top: 10px;
        margin-bottom: 10px;
        .col{
            background-color: #ddd;
            border: solid 1px #222428;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.day{
                background-color: #222428;
                color: white;
                font-family: 'Oxygen-Bold';
            }
        }
    }
}

.container-items{
    margin-bottom: 20px;
    margin-top: 20px;
    &.information{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .item1{
            margin-right: 10px;
        }
    }    
}





  