<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons class="header-buttons start">
      <ion-button (click)="toogleFavourites(false)" *ngIf="showFavourites">
        <ion-icon name="arrow-back" class="btn-icons"></ion-icon>
      </ion-button>
    </ion-buttons>

    <p class="title-header" *ngIf="showFavourites">{{"favourites" | translate}}</p>
    <p class="title-header" *ngIf="!showFavourites">{{"business" | translate}}</p>

    <ion-buttons class="header-buttons end">
      <ion-button class="star" (click)="toogleFavourites(true)" *ngIf="user && !showFavourites">
        <ion-icon name="star" class="btn-icons"></ion-icon>
      </ion-button>
      <ion-button (click)="search()">
        <ion-icon name="search" class="btn-icons"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="showInput" class="container-search">
    <ion-item lines="none">
      <ion-input class="search-input" type="text" (ngModelChange)="filterData($event)" [ngModel]="filter" placeholder="{{'search_by_name' | translate}}"></ion-input>
    </ion-item>
    
    <div class="container-options-radio">
      <ion-radio-group class="radios" [(ngModel)]="radio_option">
        <ion-item lines="none">
          <ion-label>{{"search_by_name" | translate}}</ion-label>
          <ion-radio slot="start" color="secondary" value="nameBusiness" (click) = "selectNamebusiness()"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>{{"search_by_category" | translate}}</ion-label>
          <ion-radio slot="start" color="secondary" value="category"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    <div *ngIf="(radio_option == 'category')" class="tags">
      <div class="tags-options" *ngFor="let category of categories">
        <ion-chip outline color="primary" (click) = "selectCategory(category)">
          <span>{{category}}</span>
        </ion-chip>
      </div>
    </div>
  </div>
</ion-header>


<ion-content *ngIf="businessCompleted"> 
  <ion-list *ngIf="(businessCompleted.length != 0); else vacio" class="ion-list"> 
    <div *ngIf="(user && myBusiness && user.details.rol == 'P' && !this.showInput && !showFavourites)">
      <div class="content-myBusiness">

        <div class="title-my-business">
          <ion-icon name="home" class="icon-my-business"></ion-icon>
          <span color="dark">{{"my_business_icon" | translate}}</span>
        </div>
        
        <ion-item-divider lines="none" (click)="goForward(myBusiness[0])" id="mybusiness" class="ion-activatable mybusiness">
          <div class="avatar">
            <ion-avatar slot="start" class="avatar-img" >
              <ion-img src={{myBusiness[0].details.imgProfile}}></ion-img> 
            </ion-avatar>
            <ion-icon *ngIf="user.idFavourites && user.idFavourites.includes(myBusiness[0].id)" name="star" class="icon-avatar" color="dark"></ion-icon>
          </div>  
        
          <ion-label class="label-container">
            <p class="title-bold">{{myBusiness[0].details.nameBusiness}}</p>
            <p>{{myBusiness[0].details.streetBusiness}}</p>
            <p>
              <ion-chip outline color="primary">
                <span>{{myBusiness[0].details.category}}</span>
                <ion-icon name="pricetag"></ion-icon>
              </ion-chip>
            </p>
          </ion-label>
    
          <ion-icon name="arrow-forward" class="look-item" slot="end"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          
        </ion-item-divider>

        <div class="separator"></div>
      </div>
    </div>

    <div *ngFor="let item of filterOthersBusiness(businessCompleted); trackBy: trackByFn" >
      <ion-item-divider *ngIf="(item.id != user.id)" lines="inset" (click)="goForward(item)" class="ion-activatable item">
        <div class="avatar">
          <ion-avatar slot="start" class="avatar-img" >
            <ion-img src={{item.details.imgProfile}}></ion-img> 
          </ion-avatar>
          <ion-icon *ngIf="user.idFavourites && user.idFavourites.includes(item.id)" name="star" class="icon-avatar" color="dark"></ion-icon>
        </div>  
      
        <ion-label class="label-container">
          <p class="title-bold">{{item.details.nameBusiness}}</p>
          <p>{{item.details.streetBusiness}}</p>
          <p>
            <ion-chip outline color="primary">
              <span>{{item.details.category}}</span>
              <ion-icon name="pricetag"></ion-icon>
            </ion-chip>
          </p>
        </ion-label>
  
        <ion-icon name="arrow-forward" class="look-item" slot="end"></ion-icon>
        
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item-divider>
    </div>
    
  </ion-list>

  <ng-template #vacio>
    <div class="content-empty">
        <p class="text-empty">{{"nothing_business" | translate}}</p>
        <div class="icon-empty">
          <ion-icon class="icon" name="close-circle-outline"></ion-icon>
        </div>
    </div>
  </ng-template>
</ion-content>
