.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .header-buttons{
    
    margin-top: 16px;
    position: absolute;
    &.start{
        top: 0;
        left: 0;
        margin-left: 15px;
    }

    &.end{
        .star{
            margin-right: 10px;
        }
        top: 0;
        right: 0;
        margin-right: 5px;
    }
}

.ios .header-buttons{
    position: absolute;
    margin-top: 13px;
    &.start{
        top: 0;
        left: 0;
        margin-left: 15px;
    }

    &.end{
        .star{
            margin-right: 10px;
        }
        top: 0;
        right: 0;
        margin-right: 5px;
    }
}

.md .btn-icons{
    width: 25px;
    height: 25px;
}

.ios .btn-icons{
    width: 23px;
    height: 23px;
}
.content-myBusiness{
    .title-my-business{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Oxygen-Bold";
        font-size: 85%;
        text-transform: uppercase;
        padding: 7px 10px;
        border-bottom: 1px solid #ddd;
        .icon-my-business{
            height: 20px;
            width: 20px;
            margin-right: 5px;
        }
    }
    .separator{
        border-top: 1px solid grey;
        background-color: #ddd;
        padding: 8px 10px;
        border-bottom: 1px solid grey; 
    }
}



.content-empty{
    border-radius: 10px;
    background-color: #3880ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 10px;
    .text-empty{
        text-align: center;
        font-family: 'Oxygen-Bold';
    }

    .icon-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 100px;
            height: 100px;
        }
    }
}

.avatar{
    position: relative;
    margin: 10px;
    .avatar-img{
        margin: 5px;
        width: 60px;
        height: 60px;
    }
    .icon-avatar{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25px;
        height: 25px;
    }
}

.search-input{
    --placeholder-color: #000000;
    --color: black;
    --background: #EAEDED;
    border-radius: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}



.title-bold{
    font-family: 'Oxygen-Bold';
    color: #000000;
}

.ion-activatable{
    --padding-start: 0px !important; 
    --padding-end: 8px !important; 
    --padding-bottom: 8px !important; 
    position: relative;
    overflow: hidden;

    .ion-item-divider{
        --padding-start: 0px !important; 
    }

    &.mybusiness{
        border-bottom: 0px;
    }

    
}

.ios .ion-activatable{
    &.item{
        --background: white;
        border-bottom: 1px solid #ddd;
    }
    &.mybusiness{
        --background: white;
        border-bottom: 0px;
    }
}


.ion-list{
    padding: 0px;
    .look-item{
        margin-right: 15px;
        width: 25px;
        height: 25px;
    }
}

.container-search{
    margin-top: 20px;
    .container-options-radio{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;
        .radios{
            width: 100%;
        }
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-bottom: 20px;
        .tags-options{
            display: grid;
            position: relative;
            flex-direction: column;
            grid-template-columns: repeat(auto-fill);
        }
    }
    
}   

.label-container{ 
    margin-bottom: 0px !important;
    white-space: normal;
}

