<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="title-header">{{"about_us" | translate}}</p>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="main-content">{{"introduction_about_us" | translate}}</div>
  <div>
    <div class="autors">
      <b>{{"logo_app" | translate}}</b>
      <div>{{"icon_done_by" | translate}} <a class="bold" href="https://designs.ai/logomaker/start">LogoMarket</a> {{"since" | translate}} <a class="bold" href="https://designs.ai/es">www.designs.ai/es</a></div>
    </div>
    <div class="autors">
      <b>{{"icon_of_business" | translate}}</b>
      <div>{{"icon_done_by" | translate}} <a class="bold" href="https://www.flaticon.com/authors/freepik">Freepik</a> {{"since" | translate}} <a class="bold" href="https://www.flaticon.com/">www.flaticon.com</a></div>
    </div>
    <div class="autors">
      <b>{{"icon_of_employee_and_client" | translate}}</b>
      <div>{{"icon_done_by" | translate}} <a class="bold" href="https://www.flaticon.com/authors/smashicons">Smashicons</a> {{"since" | translate}} <a class="bold" href="https://www.flaticon.com/">www.flaticon.com</a></div>
    </div>
  </div>

  <div class="table">

    <div class="ionitem">
      <div class="icon">
        <ion-icon name="briefcase" class="icon"></ion-icon>
      </div>
      <b class="ionlabel">{{"GII" | translate}}</b>
    </div>

    <div class="ionitem">
      <div class="icon">
        <ion-icon name="pin" class="icon"></ion-icon>
      </div>
      <b class="ionlabel">{{"university_street" | translate}}</b>
    </div>

    <div class="ionitem">
      <div class="icon">
        <ion-icon name="code" class="icon"></ion-icon>
      </div>
      <b class="ionlabel">{{"developer" | translate}}</b>
    </div>

    <div class="ionitem">
      <div class="icon">
        <ion-icon name="mail" class="icon"></ion-icon>
      </div>
      <b class="ionlabel last-item">{{"email_developer" | translate}}</b>
    </div>
  </div>

</ion-content>
