.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.header-buttonsEnd{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    height: 100%;
}

.btn-search{
    width: 25px;
    height: 25px;
}

.container{
    --padding-start: 0px !important;
}


.search-input{
    --placeholder-color: #000000;
    --color: black;
    --background: #EAEDED;
    border-radius: 10px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.avatar{
    position: relative;
    margin: 10px;
    margin-right: 10px;
    margin-left: 10px;
    .avatar-img{
        margin: 5px;
        width: 60px;
        height: 60px;
    }
}

.ion-list{
    padding: 0px;
}

.title-bold{
    font-family: 'Oxygen-Bold';
    color: #000000;
}

.content-empty{
    border-radius: 10px;
    background-color: #3880ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 10px;
    .text-empty{
        text-align: center;
        font-family: 'Oxygen-Bold';
    }

    .icon-empty{
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 100px;
            height: 100px;
        }
    }
}

.container-buttons{
    .btn{
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        
        --border-color: white;
        &.call {
            --color: #3880ff;
            --color-activated: #3880ff;
        }
        &.sms{
            --color: #0cd1e8;
            --color-activated: #0cd1e8;
        }
        &.wp{
            --color: #10dc60;
            --color-activated: #10dc60;
        }
        .icon{
            padding: 10px;
            width: 20px;
            height: 20px;
        }
        
    }
}

.label-container{ 
    margin-bottom: 10px !important;
    white-space: normal;
}

.btn-color{
    --background: white !important;
}

.unlock-icon{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
}
