<ion-header>
  <ion-toolbar color="dark">
    <p class="title-header">{{"clients" | translate}}</p>
    <ion-buttons class="header-buttonsEnd">
      <ion-button (click)="search()">
        <ion-icon name="search" class="btn-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  
  <ion-item *ngIf="showInput" lines="none">
    <ion-input class="search-input" type="text" (ngModelChange)="filterData($event)" [ngModel]="filter" placeholder="{{'search_by_name' | translate}}"></ion-input>
  </ion-item>
</ion-header>

<ion-content *ngIf="clientsJSON" >
  <ion-list *ngIf="(clientsJSON.length != 0); else vacio" class="ion-list" #clients>
      <ion-item *ngFor="let item of clientsJSON; trackBy: trackByFn" lines="full" class="container">
        <div class="avatar" (click)="photoViewer(item)">
          <ion-avatar  class="avatar-img" slot="start">
            <ion-img src="{{item.details.imgProfile}}"></ion-img>
          </ion-avatar>
        </div>
        <ion-label class="label-container">
          <p class="title-bold" >{{item.details.fullname}}</p>
          <p class="chat-date">{{item.email.slice(0,1).toUpperCase() + item.email.slice(1)}}</p>

          <div class="container-buttons">
            <ion-button fill="outline" class="btn call" (click) ="contactBusiness('call', item.details.telephone)">
              <ion-icon name="call" class="icon"></ion-icon>
            </ion-button>
            <ion-button fill="outline" class="btn sms" (click)="contactBusiness('sms', item.details.telephone)">
              <ion-icon name="mail" class="icon"></ion-icon>
            </ion-button>
            <ion-button fill="outline" class="btn wp" (click)="contactBusiness('wp', item.details.telephone)">
              <ion-icon name="logo-whatsapp" class="icon"></ion-icon>
            </ion-button>
          </div>

        </ion-label> 
        <ion-icon class="unlock-icon" *ngIf="item.idBlockedBusiness && item.idBlockedBusiness.length > 0"  name="unlock" color="dark" (click)="unlockUser(item.id)"></ion-icon> 
        
      </ion-item>

  </ion-list>

  <ng-template #vacio>
    <div class="content-empty">
        <p class="text-empty">{{"nothing_client" | translate}}</p>
        <div class="icon-empty">
          <ion-icon class="icon" name="close-circle-outline"></ion-icon>
        </div>
    </div>
  </ng-template>
</ion-content>
