.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.icon{
    border: 3px solid red;
    fill: red !important;
}

.icon:hover{
    fill: yellow !important;
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.container{
    --padding-start: 25px !important;
    --padding-end: 25px !important;
    --padding-top: 0px !important;
    --padding-bottom: 30px !important;
}

.items{
    align-items: none !important;
    display:block !important;
}
.margin{
    margin-top: 30px;
}

.label{
    font-weight: bold;
    margin-top: 30px;
    display: block;
    align-items: none !important;
    &.last{
        margin-top: 10px;
    }
    &.margin{
        margin-top: 10px;
    }
    &.container{
        margin-top: 10px;
    }
}


.label-input{
    margin-left: 26px;
    margin-top: 20px;
}

.label-input-nick{
    margin-left: 26px;
    margin-top: 25px;
}

.service-title-container{
    display: flex;
    align-items: center;
    margin-top: 10px;

    .title {
        font-weight: bold;
    }

    .btn-service{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-left: 10px;
        margin-top: 2px;
        border: 2px solid black;
    }
}

.input {
    margin-top: 10px;
    margin-bottom: 20px;
    --padding-top: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 10px !important;
    --padding-start: 10px !important;
    --background: #eee;
    border-radius: 10px;

    &.select-category{
        background-color: #eee;
    }
}

.content-imgProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .ion-activatable{
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .imgProfile{
            width: 80px;
            height: 80px;
        }

        .container-icon{
            border-bottom-left-radius: 100px;
            border-bottom-right-radius: 100px;
            width: 80px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom:0;
            background:rgba(255,255,255,0.6);

            .camera{
                width: 20px;
                height: 20px;
            }
        }
    }
}



.error-msg-register{
    color: red;
    margin-top: 3px;
    font-family: 'Oxygen-Bold';
    font-size: 14px;
    &.items{
        margin-right: 15px;
    }
}

.ionic-selectable:not(.ionic-selectable-has-label){
    margin-bottom: 10px !important;
}

.item-interactive.ion-invalid {
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}

.item-interactive.ion-valid{
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
}


.displayBtn{
    display: block;
}

.notDisplay{
    display: none;
}

.md .button-save{
    text-transform: initial !important;
    font-family: 'Oxygen-Bold';
    font-size: 16px;
    position: absolute;
    top: 0;
    margin-top: 9px;
    right: 0;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    --background-activated: #eee !important;
    margin-bottom: 0px;
    
    .checkmark{
        width: 25px;
        height: 25px;
    }

}

.ios .button-save{
    text-transform: initial !important;
    position: absolute;
    top: 0;
    margin-top: 8px;
    right: 0;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
    --padding-bottom: 0px !important;
    --padding-top: 0px !important;
    --background-activated: #eee !important;
    
    .checkmark{
        width: 40px;
        height: 40px;
    }

}

.content-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .item1{
        margin-right: 10px;
    }
    .btn {
        margin-left: 10px !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
    }
}

.service-items{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    .service{
        display: grid;
        position: relative;
        flex-direction: column;
        grid-template-columns: repeat(auto-fill);
    }
}


.container-schedule{
    margin-top: 20px;
    margin-bottom: 20px;
    .table{
        margin-top:10px;
        .hoursWorks{
            margin-top: 10px;
            margin-bottom: 10px;
            .col{
                background-color: #ddd;
                border: solid 1px #222428;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &.day{
                    background-color: #222428;
                    color: white;
                    font-family: 'Oxygen-Bold';
                }
            }
        }
    }
    .btn {
        margin-top: 20px;
        margin-left: 10px !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
    }
}

