<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="goBack()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="title-header">{{"profile" | translate}}</p>
    <div [ngClass]="{
      'displayBtn': (rol == 'C' && !editProfileForm.invalid) || (rol == 'P' && !editProfileForm.invalid && validationsExternal()), 
      'notDisplay': (rol == 'C' && editProfileForm.invalid) || (rol == 'P' && editProfileForm.invalid || rol == 'P' && !validationsExternal()) }">
      <ion-button color="dark" class="button-save" type="submit" [disabled]="editProfileForm.invalid" (click)="saveInformation()">
        <ion-icon color="light" class="checkmark" name="checkmark"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="content-imgProfile" *ngIf="(user)">
    <div class="ion-activatable" (click)="showPicture()">
      <img class="imgProfile" src="{{user.details.imgProfile}}">
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <form [formGroup]="editProfileForm">
    <div>
      <ion-label class="label">{{"email" | translate}} *</ion-label>
      <ion-input placeholder='{{"email" | translate}}' formControlName="email" spellcheck="false" class="input"></ion-input>
      <div *ngIf="editProfileForm.controls['email'].errors && !editProfileForm.controls['email'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['email'].errors.required">{{"email_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['email'].errors.email && !editProfileForm.controls['email'].errors.pattern">{{"email_invalid" | translate}}</div>
      </div>
      <div *ngIf="validatorEmail" class="error-msg-register">{{"email_exists" | translate}}</div>
    </div>

    <div *ngIf="rol == 'C'">
      <ion-label class="label">{{"fullname" | translate}} *</ion-label>
      <ion-input placeholder='{{"fullname" | translate}}' formControlName="fullname" spellcheck="false" class="input"></ion-input>
      <div *ngIf="editProfileForm.controls['fullname'].errors && !editProfileForm.controls['fullname'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['fullname'].errors.required">{{"fullname_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['fullname'].errors.minlength">{{"fullname_minLength" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['fullname'].errors.pattern">{{"fullname_pattern" | translate}}</div>
      </div>
    </div>
    
    <div>
      <ion-label class="label">{{"telephone" | translate}} *</ion-label>
      <ion-item lines="none" class="codes">
        <ionic-selectable
          class="codes-phones"
          formControlName="code"
          [isMultiple]="false" 
          [items]="codes"
          [canSearch]="true"
          searchPlaceholder='{{"search" | translate}}'
          closeButtonText='{{"cancel" | translate}}'
          (onChange)="changeCode($event)">
        </ionic-selectable>
        <ion-input placeholder="{{'telephone' | translate}}" formControlName="telephone" spellcheck="false" class="input"></ion-input>
      </ion-item>
      <div *ngIf="editProfileForm.controls['telephone'].errors && !editProfileForm.controls['telephone'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['telephone'].errors.required">{{"telephone_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['telephone'].errors.pattern">{{"telephone_pattern" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['telephone'].errors.minlength && !editProfileForm.controls['telephone'].errors.maxlength ">{{"telephone_minLength_and_maxLength" | translate}}</div>
      </div>
    </div>

    <div *ngIf="rol == 'P'">
      <ion-label class="label margin">{{"nameBusiness" | translate}} *</ion-label>
      <ion-input placeholder='{{"nameBusiness" | translate}}' formControlName="nameBusiness" spellcheck="false" class="input"></ion-input>
      <div *ngIf="editProfileForm.controls['nameBusiness'].errors && !editProfileForm.controls['nameBusiness'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['nameBusiness'].errors.required">{{"nameBusiness_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['nameBusiness'].errors.pattern && !editProfileForm.controls['nameBusiness'].errors.minlength">{{"nameBusiness_pattern_and_minLength" | translate}} </div>
      </div>
  
      <ion-label class="label">{{"streetBusiness" | translate}} *</ion-label>
      <ion-input placeholder='{{"streetBusiness" | translate}}' formControlName="streetBusiness" spellcheck="false" class="input"></ion-input>
      <div *ngIf="editProfileForm.controls['streetBusiness'].errors && !editProfileForm.controls['streetBusiness'].pristine" class="error-msg-register">
        <div [hidden]="!editProfileForm.controls['streetBusiness'].errors.required">{{"streetBusiness_required" | translate}}</div>
        <div [hidden]="!editProfileForm.controls['streetBusiness'].errors.maxlength">{{"streetBusiness_maxLength" | translate}}</div>
      </div>

      <div class="margin">
        <div>
          <ion-label class="label container">{{"maxVacancies" | translate}} *</ion-label>
          <ion-input placeholder='{{"maxVacancies_placeholder" | translate}}' formControlName="maxVacancies" spellcheck="false" class="input"></ion-input>
        </div>
        <div *ngIf="editProfileForm.controls['maxVacancies'].errors && !editProfileForm.controls['maxVacancies'].pristine" class="error-msg-register items">
          <div [hidden]="!editProfileForm.controls['maxVacancies'].errors.required">{{"maxVacancies_required" | translate}}</div>
          <div [hidden]="!editProfileForm.controls['maxVacancies'].errors.pattern">{{"maxVacancies_pattern" | translate}}</div>
        </div>
      </div>

      <div class="content-items">
        <div class="item1">
          <ion-label class="label container">{{"daysBeforeCancelled" | translate}}</ion-label>
          <ion-input placeholder='{{"daysBeforeCancelled_placeholder" | translate}}' formControlName="daysBeforeCancelled" spellcheck="false" class="input"></ion-input>
        </div>
        <div>
          <ion-label class="label container">{{"daysPenalitation" | translate}}</ion-label>
          <ion-input placeholder='{{"daysPenalitation_placeholder" | translate}}' formControlName="daysPenalitation" spellcheck="false" class="input"></ion-input>
        </div>
      </div>

      <div class="content-items">
        <div *ngIf="editProfileForm.controls['daysBeforeCancelled'].errors && !editProfileForm.controls['daysBeforeCancelled'].pristine" class="error-msg-register items">
          <div [hidden]="!editProfileForm.controls['daysBeforeCancelled'].errors.pattern">{{"daysBeforeCancelled_pattern" | translate}}</div>
        </div>
        <div *ngIf="editProfileForm.controls['daysPenalitation'].errors && !editProfileForm.controls['daysPenalitation'].pristine" class="error-msg-register items">
          <div [hidden]="!editProfileForm.controls['daysPenalitation'].errors.pattern">{{"daysPenalitation_pattern" | translate}}</div>
        </div>
      </div>
    </div>

  </form>

  <div *ngIf="rol == 'P'">
    <div class="service-title-container">
      <span class="title">{{"services" | translate}} *</span>
      <ion-icon class="btn-service" (click)="changeService()" name="add" color="dark">{{"services_placeholder" | translate}}</ion-icon>
    </div>

    <div class="service-items"> 
      <div class="service" *ngFor="let service of services; trackBy: trackByFn">
        <ion-chip color="primary" class="chip">
          <span (click)="changeService(service)">{{service.name}}</span>
          <ion-icon color="dark" name="close" class="close" (click)="deleteService(service)"></ion-icon>
        </ion-chip>
      </div>
    </div>

    <ion-label class="label">{{"categoryBusiness" | translate}} *</ion-label>
    <ion-select [(ngModel)]="category" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" placeholder='{{"categoryBusiness" | translate}}' class="input select-category">
      <ion-select-option *ngFor="let cat of categories; trackBy: trackByFn">{{cat}}</ion-select-option>
    </ion-select>

    <div class="container-schedule">
      <ion-label class="label">{{"schedule" | translate}} *</ion-label>
      
      <ion-grid class="table">
        <div class="hoursWorks">
          <div *ngFor="let item of hoursWork">
            <div *ngIf="item.hours && item.hours.length > 0">
              <ion-row>
                <ion-col class="col day">
                  <span *ngIf="item.hours">{{item.name}}</span>
                </ion-col>
              </ion-row>
            
              <ion-row class="hour" *ngFor="let hour of item.hours | keyvalue">
              
                <ion-col class="col">
                  <span>{{hour.value.text}} </span>
                </ion-col>
                <ion-col class="col">
                  <span *ngIf="hour.value.type == 'G'">{{"group" | translate}}</span>
                  <span *ngIf="hour.value.type == 'I'">{{"individual" | translate}}</span>
                  <span *ngIf="hour.value.type == 'ANY'">{{"any" | translate}}</span>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-grid>
      <ion-button class="btn" shape="round" expand="block" fill="outline" color="primary" (click)="changeSchedule()">
        <ion-icon slot="start" name="calendar"></ion-icon>
        {{"change_schedule" | translate}}
      </ion-button>
    </div>
  </div>
  
</ion-content>

