<ion-header>
  <ion-toolbar color="dark">
    <ion-button color="dark" class="icon-nav" (click)="onDismissDialog()">
      <ion-icon name="arrow-back" class="img-back"></ion-icon>
    </ion-button>
    <p class="text-nav">{{"terms_and_conditions" | translate}}</p>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="title-information">
    En este apartado se pretende explicar la finalidad de la aplicación y los términos y condiciones de uso que dispone esta. 
  </div>

  <div class="text">
    <p>
      La finalidad por la que se ha desarrollado esta aplicación es para ofrecer una herramienta a aquellas empresas que les resulte 
      de manera compleja la gestión de sus reservas y, a su vez, que las personas que soliciten los servicios puedan hacerlo de forma
      mucho más cómoda, haciendo esto que ganen ambas partes. No obstante, el propietario de esta aplicación no se hace responsable del 
      mal uso que estos puedan tener en ella.
    </p>
    
    <p class="title-information">
      Tenga en cuenta que aceptando los términos y condiciones de uso se supondrá que ha leído y ha estado de acuerdo con toda la información
      que se muestra en esta página.
    </p>


    <p class="title-information">Funcionalidades principales.</p>

    <ul>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios puedan pedir cita grupales o individuales en las diferentes empresas existentes en ella.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios puedan gestionar sus citas pudiendo cancelarlas en todo momento.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios puedan gestionar su lista de empresas favoritas pudiendo añadir o eliminar todas las que consideren oportunas.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios puedan añadir al calendario de sus dispositivos recordatorios de las fechas de sus citas.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios reciban notificaciones al dispositivo acerca del estado de sus citas y, además, que dispongan de un buzón donde se almacenen todas ellas.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios puedan contactar con las diferentes empresas existentes de forma rápida en cualquier momento.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios puedan gestionar toda la información de su perfil.</li>

      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios administradores puedan gestionar todas las citas de su empresa pudiendo cancelarlas o confirmarlas pasando la lista de asistencia.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios administradores puedan gestionar toda la información de sus perfiles de empresas, incluyendo sus operarios y los servicios que ofrecen.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios administradores puedan inhabilitar todas las horas de trabajo de sus operarios que consideren oportunas sin que se pueda pedir cita.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios administradores puedan disponer de un sistema de penalizaciones para la gestión de las citas de su empresa en caso de que se considere oportuno.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios administradores puedan consultar y contactar en cualquier momento con sus clientes.</li>
      <li><span class="text-bold">La aplicación permitirá</span> que los usuarios administradores puedan consultar y contactar en cualquier momento con sus operarios.</li>
    </ul>

    <p class="title-information">Responsabilidades.</p>

    <ul>
      <li>Los clientes <span class="text-bold">se responsabilizan</span> de hacer un uso adecuado y responsable de la aplicación y de la veracidad de los datos que aportan.</li>
      <li>Las empresas <span class="text-bold">se responsabilizan</span> de hacer un uso adecuado de la aplicación y de la veracidad de los datos que aportan.</li>
      <li>La empresa desarrolladora de la aplicación <span class="text-bold">no se responsabiliza</span> de que los clientes acudan a las reservas que han realizado a través de la aplicación.</li>
      <li>La empresa desarrolladora de la aplicación <span class="text-bold">no se responsabiliza</span> de que las empresas dadas de alta sean reales y que estén cualificadas para realizar sus servicios.</li>
      <li>La empresa desarrolladora de la aplicación <span class="text-bold">no se responsabiliza</span> de que las empresas dadas de alta cumplan con sus jornadas laborales.</li>
      <li>La empresa desarrolladora de la aplicación <span class="text-bold">no se responsabiliza</span> de que las empresas dadas de alta cumplan los horarios establecidos en sus agendas.</li>
      <li>La empresa desarrolladora de la aplicación <span class="text-bold">no se responsabiliza</span> de la atención ofrecida a los clientes por parte de las empresas dadas de alta.</li>
    </ul>
    
  </div>
</ion-content>
