.text-nav{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.md .icon-nav {
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.ios .icon-nav {
    position: absolute;
    margin-top: 4px;
    padding: 0px;
    outline: none;

    --box-shadow: 0px !important;
    --background: white !important;
    --background-focused: white !important;
    --background-hover: white !important;
    --color: black !important;
    --color-activated: black !important;
    --color-focused: black !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;

    .img-back{
        height: 25px;
        width: 25px;
    }
}

.container{
    --padding-start: 25px; 
    --padding-end: 25px;
    --padding-top: 15px;
    --padding-bottom: 15px;
    text-align: justify;
    
    .title-information{
        font-family: "Oxygen-Bold";
        margin-bottom: 15px;
    }

    .text-bold{
        font-weight: bold;
    }

}
