/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.item-interactive.ion-invalid{
    --highlight-background: none !important;
}

.item-interactive.ion-valid{
    --highlight-background: none !important;
}

.error-msg{
    font-family: 'Oxygen-Bold';
    font-size: 14px;
    margin-left: 50px;
    margin-top: 10px;
    color: red;
}

.slides-md {
    --bullet-background: grey !important;
}

.swiper-pagination-bullet-active {
    background: black !important;
}

.ionic-selectable:not(.ionic-selectable-has-label) {
    max-width: auto !important;
    width: auto !important; 
}

.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}

.loading-wrapper.sc-ion-loading-md {
    border-radius: 7px;
    font-size: 14px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 24px;
    font-weight: bold;
    --spinner-color: grey;
    padding-bottom: 24px;
    -webkit-box-shadow: 0 16px 20px rgba(0,0,0,.4);
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
}

.loading-wrapper.sc-ion-loading-md {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: 30px;
    padding-inline-start: 30px;
    -webkit-padding-end: 30px;
    padding-inline-end: 30px;
}












