 
  .title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
  }

  
  
  .header-buttons{
    position: absolute;
    &.start{
      top: 0;
      left: 0;
      margin-left: 5px;
      height: 100%;
    }

    &.end{
        top: 0;
        right: 0;
        margin-bottom: 5px;
        margin-right: 5px;
        height: 100%;
    }
  }

  .md.btn-icons{
    width: 25px;
    height: 25px;
  }

  .md .btn-add{
    --padding-end: 0px !important;
    .btn-icon-add{
      width: 27px;
      height: 27px;
    }
  }

  .ios .btn-add{
    --padding-end: 0px !important;
    .btn-icon-add{
      width: 35px;
      height: 35px;
    }
  }

  
  

  .two-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .option-selected{
      margin-top: 5px;
      --border-radius: 5px;
      --color: #3880ff !important;
      --border-color: #3880ff !important;
      width: 120px;
    }

    .option-not-selected{
      margin-top: 5px;
      --border-radius: 5px;
      width: 120px;
    }
  }
  
  .mail{
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  .notification{
    font-size: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    border-radius: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 18px;
    width: 18px;
  }
  
  .container-day{
    .day{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 20px;
        padding-left: 0px;
    }
    .hours{
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .btn-hour{
            border: 2px solid black;
            padding: 5px 10px;
            text-align: center;
            width: 90px;
            margin: 1px;
            &.notWork{
                border: 2px solid black;
            }
        }
  
        .btn-hour-blue{
            border: 2px solid black;
            background:#F1948A;
            padding: 5px 10px;
            text-align: center;
            width: 90px;
            margin: 1px;
            &.notWork{
                border: 2px solid black;
            }
        }
    }
  }
  
  .select-true{
    border: 2px solid black;
    background:#F1948A;
    padding: 5px 10px;
    text-align: center;
    width: 90px;
    margin: 1px;
  }
  
  .not-select{
    border: 2px solid black;
    padding: 5px 10px;
    text-align: center;
    width: 90px;
    margin: 1px;
  }
  
  .selection-hours{
    font-family: 'Oxygen-Bold';
    margin-top: 40px;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
  }
  
  .ion-segment{
    text-transform: uppercase;
    
    .ios{
      padding: 5px;
      border-radius: 5px;
      --background: white;
      --background-checked: #E5E7E9;
      border: 0px;
      --color: #222428;
      --color-checked: #222428;
    }
    .md{
      --color-checked: #222428;
    }
    
    .segment{
      font-family: 'Oxygen-Bold';
      font-size: 78%;
    }
  }
  
  
  .swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-pack: left; 
    -webkit-justify-content: left; 
    -ms-flex-pack: center;
     justify-content: left; 
     -webkit-box-align: left; 
     -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left; 
    text-align: left; 
  }
  
  .imgCalendar{
    width: 50px;
    height: 50px;
  }

  .ion-activatable{
    --padding-start: 10px;
    &.hours-inhabilitate{
      --padding-start: 20px;
      --padding-end: 20px;
      --padding-bottom: 10px;
      --padding-top: 10px;
    }
  }

.title-bold{
  margin-left: 5px;
  font-weight: bold;
  &.name{
    font-size: 16px;
  }
}


.ion-list{
  
  padding: 0px !important;
  .icon{
    padding: 10px;
    width: 25px;
    height: 25px;
  }
  .look-item{
      width: 15px;
      height: 15px; 
  }
}

.date-select{
  color: #3880ff;
  font-family: 'Oxygen-Bold';
}

.date-notSelected{
  font-family: 'Oxygen-Bold';
  --placeholder-color: #3880ff;
}

.selector-datetime{
  color: #000000;
  opacity: 0.4;
  font-family: 'Oxygen-Bold'
}

.selectors{
  margin-left: 10px; 
  margin-top: 5px; 
  font-family: 'Oxygen-Bold';
}

.date-flex-center{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.border{
  border-bottom: 2px solid black;
}


.content-empty{
  border-radius: 10px;
  background-color: #3880ff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 10px;
  .text-empty{
      text-align: center;
      font-family: 'Oxygen-Bold';
  }

  .icon-empty{
      display: flex;
      justify-content: center;
      align-items: center;
      .icon{
          width: 100px;
          height: 100px;
      }
  }
}

.hour{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oxygen-Bold';
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
  margin-top: 3.85px;

  &.hours-inhabilitate{
    margin-top: 15px;
  }

  .hour-activate{
    margin-top: 8px;
    margin-right: 7px;
  }
  
  .btn-confirmed-cancelled{
    --padding-start: 4px;
    --padding-end: 4px;
    --padding-top: 1px;
    --padding-bottom: 1px;
    --border-radius: 100%;
    margin-left: 5px;
    
  } 
} 

.content{
  position: relative;
  display: inline-block;
  p{
      display: inline-block;
      margin-right: 5px;
  }

  .point{
      position: absolute;
      top: 0px;
      margin-top: 8px;
      display: inline-block;
      padding: 3px;
      border-radius: 100%;
      &.pending{
        background-color: #FFD700;
      }
      &.completed{
        background-color: #7044ff;
      }
      &.confirmed{
        background-color: #32CD32;
      }
      &.not_confirmed{
        background-color: #f04141;
      }
      
  }
}

.prox-hours{
  text-align: center;
  font-family: "Oxygen-Bold";
  font-size: 85%;
  text-transform: uppercase;
  padding: 15px 15px;
  border-bottom: 2px solid #ddd;
}

.text{
  color: black;
  padding: 1px 8px;
  font-size: 15px; 
  font-weight: bold;
  border-radius: 5px;

  &.pending{
    background-color: #FFD700;
  }
  &.completed{
    background-color: #0cd1e8;
  }
  &.confirmed{
    background-color: #2ECC71;
  }
  &.not_confirmed{
    background-color: #EC7063;
  }
}

.ion-label{
  white-space: normal;
}

.icon-name{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &.finished{
    margin-top: 3px;
  }
  
}