<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons class="header-buttons start" *ngIf="inhabilitate">
      <ion-button (click)="inhabilitateToggle()">
        <ion-icon name="arrow-back" class="btn-icons"></ion-icon>
      </ion-button>
    </ion-buttons>

    <p class="title-header" *ngIf="!inhabilitate">{{"appointments" | translate}}</p>
    <p class="title-header" *ngIf="inhabilitate">{{"hours_inhabilitate" | translate}}</p>

    <ion-buttons class="header-buttons end">
      <ion-button (click)="inhabilitateToggle()" *ngIf="user && user.details.rol == 'P' && !inhabilitate">
        <ion-icon name="list-box" class="btn-icons"></ion-icon>
      </ion-button>
      <ion-button (click)="addInhabilitate()" *ngIf="user && user.details.rol == 'P' && inhabilitate" class="btn-add">
        <ion-icon name="add" class="btn-icon-add"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleBtnSearch()">
        <ion-icon name="search" class="btn-icons"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segment" class="ion-segment" *ngIf="!inhabilitate">
    <ion-segment-button class="segment" (click) = "toogleTypeAppointments('pending')" #segPending value="{{'pending' | translate}}" checked>
      <ion-label>{{"pending" | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment" (click) = "toogleTypeAppointments('')" #segFinished value="{{'finished' | translate}}">
      <ion-label>{{"finished" | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content class="container" #content *ngIf="appointments_V0 && appointmentsPending_V0">
  
  <div class="date-flex-center" *ngIf="btnSearch && appointments && appointmentsPending">

    <div *ngIf="user.details.rol == 'P' && inhabilitate">
      <ion-item>
        <ion-label class="labels">{{"date" | translate}}</ion-label>
        <ion-datetime [ngClass]="{'date-select': dateSelected!='', 'date-notSelected':dateSelected=='' }"  displayFormat="DD/MM/YYYY" pickerFormat="DDDD/MM/YYYY" 
        (ionChange)="changeDayInhabilite()" 
        placeholder="{{'select_date' | translate}}" cancelText="{{'cancel' | translate}}" doneText="{{'save' | translate}}" [(ngModel)]="dateSelected">
        </ion-datetime>
      </ion-item> 

      <ion-item lines="none">
        <ion-label class="labels">{{"employee" | translate}}</ion-label>
        <ion-select class="selectors" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" (ionChange)="changeDayInhabilite()" [(ngModel)]="employee">
          <ion-select-option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.fullname}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    
    <div *ngIf="user.details.rol == 'P' && !inhabilitate">
      <ion-buttons class="two-options">
        <ion-button fill="outline" [ngClass]="{'option-selected': (button), 'option-not-selected': (!button)}" (click)="buttonToggle('me')">{{"my_business" | translate}}</ion-button>
        <ion-button fill="outline" [ngClass]="{'option-selected': (!button), 'option-not-selected': (button)}" (click)="buttonToggle('other')">{{"others" | translate}}</ion-button>
      </ion-buttons>
  
      <ion-item lines="none" *ngIf="(!button)">
        <ion-label class="labels">{{"date" | translate}}</ion-label>
        <ion-datetime [ngClass]="{'date-select': dateSelected!='', 'date-notSelected':dateSelected=='' }"  displayFormat="DD/MM/YYYY" pickerFormat="DDDD/MM/YYYY" 
        (ionChange)="changeDay()" 
        placeholder="{{'select_date' | translate}}" cancelText="{{'cancel' | translate}}" doneText="{{'save' | translate}}" [(ngModel)]="dateSelected">
        </ion-datetime>
      </ion-item> 
      
      <div *ngIf="(button)">
        <ion-item >
          <ion-label class="labels">{{"date" | translate}}</ion-label>
          <ion-datetime [ngClass]="{'date-select': dateSelected!='', 'date-notSelected':dateSelected=='' }"  displayFormat="DD/MM/YYYY" pickerFormat="DDDD/MM/YYYY" 
          (ionChange)="changeDay()" 
          placeholder="{{'select_date' | translate}}" cancelText="{{'cancel' | translate}}" doneText="{{'save' | translate}}" [(ngModel)]="dateSelected">
          </ion-datetime>
        </ion-item> 
    
        <ion-item lines="none">
          <ion-label class="labels">{{"employee" | translate}}</ion-label>
          <ion-select class="selectors" okText="{{'save' | translate}}" cancelText="{{'cancel' | translate}}" (ionChange)="changeEmployee()" [(ngModel)]="employee">
            <ion-select-option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.fullname}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      
    </div>
    

    <ion-item lines="none" *ngIf="user.details.rol == 'C'">
      <ion-label class="labels">{{"date" | translate}}</ion-label>
      <ion-datetime [ngClass]="{'date-select': dateSelected!='', 'date-notSelected': dateSelected=='' }"  displayFormat="DD/MM/YYYY" pickerFormat="DDDD/MM/YYYY" 
      (ionChange)="changeDay()" 
      placeholder="{{'select_date' | translate}}" cancelText="{{'cancel' | translate}}" doneText="{{'save' | translate}}" [(ngModel)]="dateSelected">
      </ion-datetime>
    </ion-item> 
    
  </div>
  
  <div class="border" *ngIf="btnSearch && appointments && appointmentsPending"></div>

  <div *ngIf="!inhabilitate">

    <div [ngSwitch]="segment" swipeSegment *ngIf="appointments && appointmentsPending">
      <div *ngSwitchCase="'Pendientes'" >
        <ion-list *ngIf="(appointmentsPending.length != 0); else vacio" class="ion-list" #pendientes>
  
            <ion-item *ngFor="let appointment of appointmentsPending; trackBy: trackByFn" class="ion-activatable" lines="full">
              <ion-label class="ion-label"> 
                <div class="content">

                  <span *ngIf="user.id != appointment.idBusiness" class="icon-name">
                    <ion-icon name="home"></ion-icon>
                    <span class="title-bold name">{{appointment.nameBusiness}}</span>
                  </span>
                  <span *ngIf="user.id == appointment.idBusiness" class="icon-name">
                    <ion-icon name="person"></ion-icon>
                    <span class="title-bold name">{{appointment.employee.fullname}}</span>
                  </span>

                </div>
  
                <div class="hour">
                  <div *ngIf="appointment.state == 'pending'">
                    {{"to_the_uppercase" | translate}} {{appointment.date | date :  "HH:mm"}}
                  </div>
                  <span *ngIf="appointment.state == 'pending'">
                    <ion-button class="btn-confirmed-cancelled" fill="outline" color="danger" (click)="deleteInfoAlert(appointment)"> 
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                  </span>
                </div>
               
                <p>{{appointment.dateView}}</p>
                
                  <ion-chip color="primary">
                    <span>{{appointment.service.name}}</span>
                  </ion-chip>
                  
                  <ion-chip color="primary" *ngIf="appointment.type == 'I'; else grupal">
                    <span>{{"ind" | translate}}</span>
                  </ion-chip>
                  <ng-template #grupal>
                    <ion-chip color="primary">
                      <span>{{"gro" | translate}}</span>
                    </ion-chip>
                  </ng-template>

                  <ion-chip color="primary">
                    <span>{{appointment.service?.duration}} {{"minute" | translate}}</span>
                    <ion-icon name="time"></ion-icon>
                  </ion-chip>
  
                  <ion-chip color="primary">
                    <ion-icon name="pricetag"></ion-icon>
                    <span>{{appointment.price}} €</span>
                  </ion-chip>
  
                  <ion-chip color="primary" (click) = "viewListMembers(appointment)" *ngIf="appointment.members.length == 1; else miembros">
                    <span>{{appointment?.members.length}} {{"member" | translate}}</span>
                    <ion-icon name="person"></ion-icon>
                  </ion-chip>
                  <ng-template #miembros>
                    <ion-chip color="primary" (click) = "viewListMembers(appointment)">
                      <span>{{appointment?.members.length}} {{"members_lowercase" | translate}}</span>
                      <ion-icon name="people"></ion-icon>
                    </ion-chip>
                  </ng-template>

              </ion-label>
            </ion-item>
        </ion-list>
      </div>
  
      <div *ngSwitchCase="'Finalizadas'">
        <ion-list *ngIf="(appointments.length != 0); else vacio"  class="ion-list" #finalizadas>
          
            <ion-item *ngFor="let appointment of appointments; trackBy: trackByFn" class="ion-activatable" lines="full">
              <ion-label class="ion-label"> 

                <span *ngIf="appointment.state == 'completed' && appointment.idBusiness == user.id" class="text pending">{{"attendance" | translate}}</span>
                <span *ngIf="appointment.state == 'completed' && appointment.idBusiness != user.id" class="text completed">{{"unconfirmed" | translate}}</span>

                <span *ngIf="appointment.state == 'confirmed' && appointment.idBusiness == user.id" class="text confirmed">{{"pass_completed" | translate}}</span>
                <span *ngIf="appointment.state == 'confirmed' && appointment.idBusiness != user.id" class="text confirmed">{{"confirmed" | translate}}</span>
                <span *ngIf="appointment.state == 'not_confirmed'" class="text not_confirmed">{{"not_confirmed" | translate}}</span>
                <br>

                <div class="content">
                  <span *ngIf="user.id != appointment.idBusiness" class="icon-name finished">
                    <ion-icon name="home"></ion-icon>
                    <span class="title-bold name">{{appointment.nameBusiness}}</span>
                  </span>
                  <span *ngIf="user.id == appointment.idBusiness" class="icon-name finished">
                    <ion-icon name="person"></ion-icon>
                    <span class="title-bold name">{{appointment.employee.fullname}}</span>
                  </span>
                  
                </div>
  
                <div class="hour">
                  <div *ngIf="appointment.state == 'completed' && appointment.idBusiness == user.id">
                    {{"to_the_uppercase" | translate}} {{appointment.date | date :  "HH:mm"}}
                  </div>
                  <div class="hour-activate" *ngIf="!(appointment.state == 'completed' && appointment.idBusiness == user.id)">
                    {{"to_the_uppercase" | translate}} {{appointment.date | date :  "HH:mm"}}
                  </div>
                  
                  <div *ngIf="appointment.state == 'completed' && appointment.idBusiness == user.id">
                    <ion-button class="btn-confirmed-cancelled" fill="outline" color="warning" (click)="viewListMembers(appointment)" > 
                      <ion-icon name="flag"></ion-icon>
                    </ion-button>
                  </div>
                </div>
                
                <p>{{appointment.dateView}}</p>
              
                <ion-chip color="primary">
                  <span>{{appointment.service.name}}</span>
                </ion-chip>
                
                <ion-chip color="primary" *ngIf="appointment.type == 'I'; else grupal">
                  <span>{{"ind" | translate}}</span>
                </ion-chip>

                <ng-template #grupal>
                  <ion-chip color="primary">
                    <span>{{"gro" | translate}}</span>
                  </ion-chip>
                </ng-template>

                <ion-chip color="primary">
                  <span>{{appointment.service?.duration}} {{"minute" | translate}}</span>
                  <ion-icon name="time"></ion-icon>
                </ion-chip>

                <ion-chip color="primary">
                  <ion-icon name="pricetag"></ion-icon>
                  <span>{{appointment.price}} €</span>
                </ion-chip>

                <ion-chip color="primary" *ngIf="appointment.members.length == 1 && appointment.state == 'completed'">
                  <span>{{appointment?.members.length}} {{"member" | translate}}</span>
                  <ion-icon name="person"></ion-icon>
                </ion-chip>
                
                
                <ion-chip color="primary" *ngIf="appointment.members.length > 1 && appointment.state == 'completed'">
                  <span>{{appointment?.members.length}} {{"members_lowercase" | translate}}</span>
                  <ion-icon name="people"></ion-icon>
                </ion-chip>
                
                <ion-chip color="primary" *ngIf="appointment.members.length == 1 && appointment.state != 'completed'" (click)="viewListMembers(appointment)">
                  <span>{{appointment?.members.length}} {{"member" | translate}}</span>
                  <ion-icon name="person"></ion-icon>
                </ion-chip>

                <ion-chip color="primary" *ngIf="appointment.members.length > 1 && appointment.state != 'completed'" (click)="viewListMembers(appointment)">
                  <span>{{appointment?.members.length}} {{"members_lowercase" | translate}}</span>
                  <ion-icon name="people"></ion-icon>
                </ion-chip>
                
              </ion-label>
            </ion-item>
        </ion-list>
      </div>
    </div>

  </div>

  <div *ngIf="inhabilitate">

    <div *ngIf="(inhabilitateAppointments.length != 0)" class="prox-hours">{{"next" | translate}}</div>

    <ion-list *ngIf="(inhabilitateAppointments.length != 0); else vacio2"  class="ion-list">
      <ion-item *ngFor="let appointment of inhabilitateAppointments; trackBy: trackByFn" class="ion-activatable hours-inhabilitate" lines="full">
        
        <ion-label class="ion-label"> 
          <div class="content">
            <span *ngIf="user.id == appointment.idBusiness" class="icon-name">
              <ion-icon name="person"></ion-icon>
              <span class="title-bold name">{{appointment.employee.fullname}}</span>
            </span>
          </div>

          <div class="hour hours-inhabilitate">
            <ion-button class="btn-confirmed-cancelled " fill="outline" color="danger" (click)="deleteInfoAlert(appointment, 'delete')"> 
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
          
          <p>{{appointment.dateView}} {{"to_the" | translate}} <b>{{appointment.date | date :  "HH:mm"}}</b></p>
          
        </ion-label>
      </ion-item>
  </ion-list>

  </div>

  <ng-template #vacio>
    <div class="content-empty">
        <p class="text-empty">{{"nothing_appointment" | translate}}</p>
        <div class="icon-empty">
          <ion-icon class="icon" name="close-circle-outline"></ion-icon>
        </div>
    </div>
  </ng-template>

  <ng-template #vacio2>
    <div class="content-empty">
        <p class="text-empty">{{"nothing_hour_inhabilitate" | translate}}</p>
        <div class="icon-empty">
          <ion-icon class="icon" name="close-circle-outline"></ion-icon>
        </div>
    </div>
  </ng-template>
  
</ion-content>


