.title-header{
    text-align: center;
    font-family: 'Oxygen-Bold';
}

.header-buttons{
    position: absolute;
    &.start{
        top: 0;
        left: 0;
        margin-left: 15px;
        height: 100%;
        .about_us{
            width: 25px;
            height: 29px;
        }
    }
    &.end{
        top: 0;
        right: 0;
        height: 100%;
        margin-right: 7px;
    }
}

.icons{
    width: 30px;
    height: 30px;
}

.ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid white;
    position: relative;
    border-radius: 10px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 30px -9px rgba(0, 0, 0, 0.48);

    .edit-icon{
        position: absolute;
        right: 0px;
        --box-shadow: 0px !important;
        --background: white !important;
        --background-focused: white !important;
        --background-hover: white !important;
        --color: black !important;
        --color-activated: black !important;
        --color-focused: black !important;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --background-activated: #eee;
        
    }
    
    .content-profile{    
        display: flex;
        justify-content: center;
        align-items: center;
        
        .ion-activatable{
            border-radius: 100%;
            width: 80px;
            height: 80px;
            margin: 30px;
            position: relative;
            overflow: hidden;

            .imgProfile{
                width: 80px;
                height: 80px;
            }
        }

    }


    .table{
        margin-top:10px;
    }

    .content-data{
        margin-left: 20px;
        margin-right: 20px;
        .container-items{
            margin-bottom: 20px;
            &.information{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .item1{
                    margin-right: 10px;
                }
            }
            .service-items{
                margin-top: 10px;
                display: flex;
                flex-wrap: wrap;
                .service{
                    display: grid;
                    position: relative;
                    flex-direction: column;
                    grid-template-columns: repeat(auto-fill);
                }
            }
            .hoursWorks{
                margin-top: 10px;
                margin-bottom: 10px;
                .col{
                    background-color: #ddd;
                    border: solid 1px #222428;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.day{
                        background-color: #222428;
                        color: white;
                        font-family: 'Oxygen-Bold';
                    }
                }
            }
            
        }
        .data-account{
            font-size: 17px;
            font-weight: bold;
            color: #3880ff;
        }
        .data-shop{
            margin-top: 30px;
        }
    }
}