<ion-header >
  <ion-toolbar color="dark">
    <ion-buttons class="header-buttons start" (click)="goAboutUs()">
      <ion-button>
        <img class="about_us" src="../../../assets/icon/about_us.png">
      </ion-button>
    </ion-buttons>

    <p class="title-header">{{"profile" | translate}}</p>
    <ion-buttons class="header-buttons end">
      <ion-button *ngIf="user && user.details.rol == 'P'" (click)="employees()">
        <ion-icon name="people" class="icons"></ion-icon>
      </ion-button>
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content" *ngIf="(user && load)">
  <div class="container">
    <ion-button class="edit-icon" (click)="goForward()">
      <ion-icon name="create"></ion-icon>
    </ion-button>
    
    <div class="content-profile" >
      <div class="ion-activatable" (click)= "showPicture()">
        <img class="imgProfile" src="{{user.details.imgProfile}}">
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div class="content-data">

      <div class="container-items"  *ngIf="user.details.rol == 'C'">
        <b class="bold">{{"name" | translate}}</b>
        <p>{{user.details.fullname}}</p>
      </div>

      <div class="container-items" *ngIf="user.details.rol == 'P'">
        <b class="bold">{{"nameBusiness" | translate}}</b>
        <p>{{user.details.nameBusiness}}</p>
      </div>

      <div class="container-items" *ngIf="user.details.rol == 'P'">
        <b class="bold">{{"categoryBusiness" | translate}}</b>
        <p>{{user.details.category}}</p>
      </div>

      <div class="container-items">
        <b class="bold">{{"telephone" | translate}}</b>
        <p>{{user.details.telephone.split('_')[1]}}</p>
      </div>

      <div class="container-items">
        <b class="bold">{{"type_account" | translate}}</b>
        <p *ngIf="user.details.rol == 'C'">{{"particular" | translate}}</p>
        <p *ngIf="user.details.rol == 'P'">{{"professional" | translate}}</p>
      </div>

      <div class="container-items" *ngIf="user.details.rol == 'P'">
        <b class="bold">Servicios</b>
        <div class="service-items"> 
          <div class="service" *ngFor="let service of user.details.services; trackBy: trackByFn">
            <ion-chip color="primary">
              <span>{{service.name}}</span>
              <ion-icon name="pricetag"></ion-icon>
            </ion-chip>
          </div>
        </div>
      </div>

      <div class="container-items">
        <b class="bold">{{"email" | translate}}</b>
        <p>{{user.email.slice(0,1).toUpperCase() + user.email.slice(1)}}</p>
      </div>

      <div class="container-items" *ngIf="user.details.rol == 'P'">
        <b class="bold">{{"streetBusiness" | translate}}</b>
        <p>{{user.details.streetBusiness}}</p>
      </div>

      <div class="container-items information" *ngIf="user.details.rol == 'P'">
        <div>
          <b class="bold">{{"maxVacancies" | translate}}</b>
          <p>{{user.details.maxVacancies}}</p>
        </div>
      </div>
      
      <div class="container-items information" *ngIf="user.details.rol == 'P'">
        <div>
          <b class="bold">{{"daysBeforeCancelled" | translate}}</b>
          <p *ngIf="user.details.daysBeforeCancelled">{{user.details.daysBeforeCancelled}}</p>
          <p *ngIf="!user.details.daysBeforeCancelled">0</p>
        </div>
        <div>
          <b class="bold">{{"daysPenalitation" | translate}}</b>
          <p *ngIf="user.details.daysPenalitation">{{user.details.daysPenalitation}}</p>
          <p *ngIf="!user.details.daysPenalitation">0</p>
        </div>
      </div>

      <div class="container-items" *ngIf="user.details.rol == 'P'">
        <b>{{"schedule" | translate}}</b>
        <ion-grid class="table">
          <div class="hoursWorks">
            <div *ngFor="let item of user.details.hoursWork">
              <div *ngIf="item.hours && item.hours.length > 0">
                <ion-row>
                  <ion-col class="col day">
                    <span *ngIf="item.hours">{{item.name}}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="hour" *ngFor="let hour of item.hours | keyvalue">
                  <ion-col class="col">
                    <span>{{hour.value.text}} </span>
                  </ion-col>
                  <ion-col class="col">
                    <span *ngIf="hour.value.type == 'G'">{{"group" | translate}}</span>
                    <span *ngIf="hour.value.type == 'I'">{{"individual" | translate}}</span>
                    <span *ngIf="hour.value.type == 'ANY'">{{"any" | translate}}</span>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
        </ion-grid>
      </div>

    </div>
  </div>
</ion-content>
